
/*@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic,300italic,300);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800);



body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 1.42857143;
    color: #696c74;
    background-color: #d8dce3;
    overflow-x:hidden;
}*/



 
a.profile {
    background: #43565c;
    padding: 8px 18px;
    color: #fff;
}

.dropup,
.dropdown {
    position: relative;
}

.dropdown-toggle:focus {
    outline: 0;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 12px;
    text-align: left;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 2px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
}

    .dropdown-menu.pull-right {
        right: 0;
        left: auto;
    }

    .dropdown-menu .divider {
        height: 1px;
        margin: 7.5px 0;
        overflow: hidden;
        background-color: #e5e5e5;
    }

    .dropdown-menu > li > a {
        display: block;
        padding: 3px 20px;
        clear: both;
        font-weight: normal;
        line-height: 1.42857143;
        color: #333333;
        white-space: nowrap;
    }

        .dropdown-menu > li > a:hover,
        .dropdown-menu > li > a:focus {
            text-decoration: none;
            color: #262626;
            background-color: #f5f5f5;
        }

    .dropdown-menu > .active > a,
    .dropdown-menu > .active > a:hover,
    .dropdown-menu > .active > a:focus {
        color: #ffffff;
        text-decoration: none;
        outline: 0;
        background-color: #2574ab;
    }

    .dropdown-menu > .disabled > a,
    .dropdown-menu > .disabled > a:hover,
    .dropdown-menu > .disabled > a:focus {
        color: #777777;
    }

        .dropdown-menu > .disabled > a:hover,
        .dropdown-menu > .disabled > a:focus {
            text-decoration: none;
            background-color: transparent;
            background-image: none;
            filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
            cursor: not-allowed;
        }

.open > .dropdown-menu {
    display: block;
}

.open > a {
    outline: 0;
}

.dropdown-menu-right {
    left: auto;
    right: 0;
}

.dropdown-menu-left {
    left: 0;
    right: auto;
}

.dropdown-header {
    display: block;
    padding: 3px 20px;
    font-size: 11px;
    line-height: 1.42857143;
    color: #777777;
    white-space: nowrap;
}

.dropdown-backdrop {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 990;
}

.pull-right > .dropdown-menu {
    right: 0;
    left: auto;
}

.dropup .caret,
.navbar-fixed-bottom .dropdown .caret {
    border-top: 0;
    border-bottom: 4px dashed;
    border-bottom: 4px solid \9;
    content: "";
}

.dropup .dropdown-menu,
.navbar-fixed-bottom .dropdown .dropdown-menu {
    top: auto;
    bottom: 100%;
    margin-bottom: 2px;
}

@media (min-width: 799px) {
    .searchpanel .input-group .profile {
    border: 0;
    background-color: #3b4354;
    font-size: 14px;
    color: #fff;
    /* padding-top: 7px; */
    /* line-height: normal; */
    /* padding-left: 15px; */
    /* padding-right: 17px; */
    padding: 6px 12px;
}
    .navbar-right .dropdown-menu {
        left: auto;
        right: 0;
    }

    .navbar-right .dropdown-menu-left {
        left: 0;
        right: auto;
    }
}






 









/***** DROPDOWN *****/
.dropdown-menu {
    padding: 5px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

    .dropdown-menu > li > a {
        padding: 5px 7px;
        border-radius: 2px;
        -webkit-transition: all 0.2s ease-out 0s;
        -o-transition: all 0.2s ease-out 0s;
        transition: all 0.2s ease-out 0s;
    }

        .dropdown-menu > li > a:hover,
        .dropdown-menu > li > a:focus {
            background-color: #bdc3d1;
            color: #fff;
        }

    .dropdown-menu .divider {
        margin: 5px 0;
    }

.dm-icon > li > a > i {
    display: inline-block;
    margin-right: 5px;
}










/* Header Panel */
.headerpanel {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 64px;
    background-color: #43565c;
    z-index: 2000;
}

    .headerpanel .logopanel {
        position: absolute;
        left: -220px;
        width: 220px;
        height: 64px;
        padding: 6px 18px;
        background-color: #43565c;
    }

        .headerpanel .logopanel h2 {
            margin: 0;
            font-weight: 500;
        }

            .headerpanel .logopanel h2 > a {
                -webkit-transition: all 0.2s ease-out 0s;
                -o-transition: all 0.2s ease-out 0s;
                transition: all 0.2s ease-out 0s;
            }

                .headerpanel .logopanel h2 > a:hover {
                    color: #31c1d2;
                }

@media (min-width: 992px) {
    .headerpanel .logopanel {
        left: 0 !important;
    }
}

.headerbar {
    position: relative;
    padding-left: 64px;
    text-align: center;
}









    .searchpanel .input-group .btn {
        border: 0;
        background-color: #3b4354;
        font-size: 14px;
        color: #fff;
        padding-top: 7px;
        line-height: normal;
        padding-left: 15px;
        padding-right: 17px;
    }

.header-right {
    float: right;
    padding-right: 20px;
}

.headermenu {
    list-style: none;
    margin: 0;
    padding: 0;
}

    .headermenu .dropdown-toggle:hover,
    .headermenu .dropdown-toggle:focus,
    .headermenu .dropdown-toggle:active,
    .headermenu .dropdown-toggle.active,
    .headermenu .open .dropdown-toggle.dropdown-toggle {
        background-color: #2c323f;
    }

    .headermenu > li {
        display: inline-block;
        float: left;
        position: relative;
        padding: 5px 5px;
    }

        .headermenu > li .btn {
            border-radius: 0;
            background-color: transparent;
            color: #ffffff;
            height: 64px;
            border: 0;
            padding-left: 5px;
            padding-right: 5px;
        }

            .headermenu > li .btn:hover,
            .headermenu > li .btn:focus {
                color: #9fa8bc;
            }

            .headermenu > li .btn:active {
                -webkit-box-shadow: none;
                box-shadow: none;
            }

        .headermenu > li .alert-notice .fa {
            position: relative;
        }

            /*.headermenu > li .alert-notice .fa:after {
                position: absolute;
                content: '';
                top: -2px;
                right: -2px;
                width: 10px;
                height: 10px;
                background-color: #ff564e;
                border-radius: 50px;
                opacity: .75;
            }*/

        .headermenu > li > .btn-group {
            margin-bottom: 0;
        }

            .headermenu > li > .btn-group > .btn-notice {
                font-size: 16px;
            }

                .headermenu > li > .btn-group > .btn-notice + .dropdown-menu {
                    min-width: 350px;
                }

@media (max-width: 480px) {
    .headermenu > li > .btn-group > .btn-notice + .dropdown-menu {
        min-width: 0;
        position: fixed;
        top: 64px;
        right: 0;
        left: 0;
        bottom: 0;
        border: 0;
        overflow: auto;
    }

        .headermenu > li > .btn-group > .btn-notice + .dropdown-menu:after {
            display: none;
        }
}

.headermenu > li > .btn-group > .btn-logged {
    padding: 5px 12px 3px;
    border: 0;
}

    .headermenu > li > .btn-group > .btn-logged img {
        vertical-align: middle;
        margin-right: 5px;
        width: 35px;
        border-radius: 50px;
    }

    .headermenu > li > .btn-group > .btn-logged .caret {
        margin-left: 5px;
        margin-top: -2px;
    }

    .headermenu > li > .btn-group > .btn-logged + .dropdown-menu {
        min-width: 270px;
    }

        .headermenu > li > .btn-group > .btn-logged + .dropdown-menu > li > a {
            padding: 8px 10px;
            color: #505b72;
        }

            .headermenu > li > .btn-group > .btn-logged + .dropdown-menu > li > a:hover,
            .headermenu > li > .btn-group > .btn-logged + .dropdown-menu > li > a:focus {
                background-color: #262b36;
                color: #9fa8bc;
            }

            .headermenu > li > .btn-group > .btn-logged + .dropdown-menu > li > a > i {
                width: 16px;
                margin-right: 5px;
            }

.headermenu > li .btn-chat {
    font-size: 21px;
}

.headermenu .dropdown-menu {
    border-color: rgba(42, 50, 69, 0.1);
    border-top: 0;
    margin-top: 0;
    margin-right: -8px;
    padding: 5px;
    background-color: #fff;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    -webkit-box-shadow: none;
    box-shadow: none;
    height: 200px;
    padding: 10px;
    text-align: center;
}

    .headermenu .dropdown-menu:after {
        border-bottom: 8px solid #fff;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        content: "";
        display: inline-block;
        right: 17px;
        position: absolute;
        top: -7px;
    }

    .headermenu .dropdown-menu .title {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 11px;
        margin: 0 0 5px;
        padding: 10px;
        letter-spacing: .5px;
    }

    .headermenu .dropdown-menu > li > a {
        font-size: 12px;
        border-radius: 2px;
    }

    /*.headermenu .dropdown-menu .list-group {
        margin-left: -5px;
        margin-right: -5px;
        margin-bottom: -5px;
    }

        .headermenu .dropdown-menu .list-group > .list-group-item {
            border-left: 0;
            border-right: 0;
        }

            .headermenu .dropdown-menu .list-group > .list-group-item:first-child {
                border-top-right-radius: 0;
                border-top-left-radius: 0;
            }

            .headermenu .dropdown-menu .list-group > .list-group-item:last-child {
                border-bottom-right-radius: 2px;
                border-bottom-left-radius: 2px;
                border-bottom: 0;
            }*/


















/***** CUSTOM STYLES *****/





/*top-header*/
.logopanel img {
    width: 54px;
}



.primary_nav_wrap {
    float: left;
    width: 50%;
    padding: 0px;
    margin-left: 235px;
}

    .primary_nav_wrap:before {
        clear: both;
        display: table;
        content: "";
    }

    .primary_nav_wrap:after {
        clear: both;
        display: table;
        content: "";
    }

    .primary_nav_wrap ul {
        list-style: none;
        position: relative;
        float: left;
        margin: 0;
        padding: 0;
    }

        .primary_nav_wrap ul a {
            display: block;
            color: #fff;
            text-decoration: none;
            font-size: 13px;
            line-height: 32px;
            padding: 16px 22px;
            text-align: left;
        }

            .primary_nav_wrap ul a i {
                margin-right: 4px;
            }

        .primary_nav_wrap ul li {
            position: relative;
            float: left;
            margin: 0;
            padding: 0;
        }



            .primary_nav_wrap ul li:hover {
                background: #4d636f;
            }

        .primary_nav_wrap ul ul {
            display: none;
            position: absolute;
            top: 100%;
            left: 0;
            background: #f1f9fd;
            padding: 0;
            z-index: 99999999;
            -webkit-background-clip: padding-box;
            background-clip: padding-box;
            border: 1px solid #ccc;
            border: 1px solid rgba(0,0,0,.15);
            border-radius: 4px;
            -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
            box-shadow: 0 6px 12px rgba(0,0,0,.175);
               
        }

            .primary_nav_wrap ul ul li {
                float: none;
                width:100%;
            }

            .primary_nav_wrap ul ul a {
                line-height: 120%;
                padding: 10px 15px;
                color: #000;
            }

                .primary_nav_wrap ul ul a:hover {
                    color: #fff;
                }

            .primary_nav_wrap ul ul ul {
                top: 0;
                left: 100%;
            }

        .primary_nav_wrap ul li:hover > ul {
            display: block;
        }


/*ddd*/

.primary_nav_wrap_icons {
    float: left;
    width: 24%;
    padding: 0 1%;
}

    .primary_nav_wrap_icons:before {
        clear: both;
        display: table;
        content: "";
    }

    .primary_nav_wrap_icons:after {
        clear: both;
        display: table;
        content: "";
    }

    .primary_nav_wrap_icons ul {
        list-style: none;
        position: relative;
        float: right;
        margin: 0;
        padding: 0;
    }

        .primary_nav_wrap_icons ul a {
            display: block;
            color: #fff;
            text-decoration: none;
            font-size: 14px;
            line-height: 32px;
            padding: 12px 12px;
        }

        .primary_nav_wrap_icons ul li {
            position: relative;
            float: left;
            margin: 0;
            padding: 0;
        }

            .primary_nav_wrap_icons ul li span {
                position: absolute;
                top: 11px;
                right: 7px;
                text-align: center;
                font-size: 9px;
                padding: 2px 3px;
                line-height: .9;
                border-radius: 2px;
            }


            .primary_nav_wrap_icons ul li img {
                height: 25px;
                width: 25px;
                border-radius: 50%;
                position: relative;
                top: 6px;
            }

            .primary_nav_wrap_icons ul li label {
                position: relative;
                top: -2px;
            }



            .primary_nav_wrap_icons ul li:hover {
                background: #4d636f;
            }

        .primary_nav_wrap_icons ul ul {
            display: none;
            position: absolute;
            top: 100%;
            left: 0;
            background: #f1f9fd;
            padding: 0;
            z-index: 99999999;
            -webkit-background-clip: padding-box;
            background-clip: padding-box;
            border: 1px solid #ccc;
            border: 1px solid rgba(0,0,0,.15);
            border-radius: 4px;
            -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
            box-shadow: 0 6px 12px rgba(0,0,0,.175);
        }

            .primary_nav_wrap_icons ul ul li {
                float: none;
                width: 200px;
            }

            .primary_nav_wrap_icons ul ul a {
                line-height: 120%;
                padding: 10px 15px;
                color: #000;
            }

                .primary_nav_wrap_icons ul ul a:hover {
                    color: #fff;
                }

            .primary_nav_wrap_icons ul ul ul {
                top: 0;
                left: 100%;
            }

        .primary_nav_wrap_icons ul li:hover > ul {
            display: block;
        }

.skin-blue .main-header li.user-header {
    background-color: #4d636f;
}

ul.dropdown-menu.pull-right .user-menu > .dropdown-menu > li.user-header {
    height: 175px;
    padding: 10px;
    text-align: center;
}

    ul.dropdown-menu.pull-right.user-menu > .dropdown-menu > li.user-header > img {
        z-index: 5;
        height: 90px;
        width: 90px;
        border: 3px solid;
        border-color: transparent;
        border-color: rgba(255,255,255,0.2);
    }

    ul.dropdown-menu.pull-right .user-menu > .dropdown-menu > li.user-header > p {
        z-index: 5;
        color: #fff;
        color: rgba(255,255,255,0.8);
        font-size: 17px;
        margin-top: 10px;
    }

        ul.dropdown-menu.pull-right .user-menu > .dropdown-menu > li.user-header > p > small {
            display: block;
            font-size: 12px;
        }

ul.dropdown-menu.pull-right .user-menu > .dropdown-menu > .user-footer {
    background-color: #f9f9f9;
    padding: 10px;
}



.logo-responsive {
    display: none;
}

.right-toggle {
    display: none;
}

#flip-right-toggle {
    display: none;
}

#panel-right-toggle {
    display: block;
}
#responsive-search {
            display:none;
        }

/*middle-header*/
.header-middle {
  background-color: #fff;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  width: 100%;
  z-index: 3;
  display: none;
}
.middle-header-icons
{
    margin-top: 23px;
}
.middle-header-icons ul{

}
.middle-header-icons ul li{
float: left;
    padding-left: 10px;
    list-style: none;
}
.middle-header-icons ul li a
{

}
  .contentpanel_
    {margin-top: 1.5px;}
@media(max-width:799px) {
    .primary_nav_wrap ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: #f1f9fd;
    padding: 0;
    z-index: 99999999;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    width: 100%;
}
    .contentpanel_
    {margin-top: 88px;}
    .header-middle {
    background-color: #fff;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    position: fixed;
    width: 100%;
    z-index: 3;
    display:block;
    
}
    .logo-responsive {
        display: block;
        float: left;
        width: 80%;
        text-align: center;
    }

    .searchpanel {
        display: none;
    }

    .primary_nav_wrap {
        float: left;
        width: 100%;
        padding: 0px;
        margin-left: 0;
        background: #4a6169;
        position: absolute;
        left: 0;
        top: 64px;
    }

    .right-toggle {
        display: block;
    }

    #flip-right-toggle {
        float: right;
        width: 64px;
        display: block;
        background: #4a6169;
        padding: 18px 20px;
        font-size: 20px;
        cursor: pointer;
    }

        #flip-right-toggle:hover {
            background: #3b4354;
        }

    #panel-right-toggle {
        display: none;
    }

    .headerbar {
        left: 0px !important;
    }

    .logopanel {
        display: none;
    }

    .primary_nav_wrap ul {
        float: none;
    }

        .primary_nav_wrap ul li {
            float: none;
        }

        .primary_nav_wrap ul a {
            text-align: left;
        }
        .header-right {
    float: right;
    padding-right: 20px;
    display: none;
}
        #responsive-search {
            display:block;
        }
        .searchpanel {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0px 10px;
}
}

@media(max-width:399px) {
    .logo-responsive {
    display: block;
    float: left;
    width: 75%;
    text-align: center;
    
}
}


/*middle*/


.navbar-custom-menu > .navbar-nav > li {
    position: relative;
}

    .navbar-custom-menu > .navbar-nav > li > .dropdown-menu {
        position: absolute;
        right: 0;
        left: auto;
    }
    span.label.label-success {
    position: relative;
    top: -10px;
    left: -9px;
    font-size: 7px;
     background-color: #00a65a !important;
}
    span.label.label-warning {
    position: relative;
    top: -10px;
    left: -9px;
    font-size: 7px;
        background-color: #e6ad5c;
}
    span.label.label-danger {
 position: relative;
    top: -10px;
    left: -9px;
    font-size: 7px;
    background-color: #d9534f;
}
/*@media (max-width:991px) {
    .navbar-custom-menu > .navbar-nav {
        float: right;
    }

        .navbar-custom-menu > .navbar-nav > li {
            position: static;
        }

            .navbar-custom-menu > .navbar-nav > li > .dropdown-menu {
                position: absolute;
                right: 5%;
                left: auto;
                border: 1px solid #ddd;
                background: #fff;
            }
}

.header-middle .middle-header-icons > li > a > .label {
    position: absolute;
    top: 9px;
    right: 7px;
    text-align: center;
    font-size: 9px;
    padding: 2px 3px;
    line-height: .9;
}

.bg-green, .callout.callout-success, .alert-success, .label-success, .modal-success .modal-body {
    background-color: #00a65a !important;
}*/

.leftpanelinner {
    margin-top: 1px;
}

span.label-success1 {
    position: absolute;
    content: '';
    top: 15px;
    right: -4px;
    background-color: #ff564e !important;
    /*border-radius: 50px;*/
    /* opacity: .75; */
    font-size: 9px;
    padding: 0px 3px 0px 3px;
    color: #fff;
}
.searchpanel-23 .input-group .btn {
    border: 0;
    background-color: white;
    font-size: 14px;
    color: #000 !important;
    padding-top: 7px;
    line-height: normal;
    padding-left: 15px;
    padding-right: 17px;
}
.searchpanel-23 {
    /* top: 0; */
    /* left: 64px; */
    width: 220px;
    float: left;
}

.searchpanel .input-group .profile {
   border: 0;
    background-color: #3b4354;
    font-size: 14px;
    color: #fff;
    /* padding-top: 7px; */
    /* line-height: normal; */
    /* padding-left: 15px; */
    /* padding-right: 17px; */
       padding: 6px 12px;
}


.dropdown-menu1 {
      position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 12px;
    text-align: left;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 2px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
    padding-bottom: 16px;
}
.user-footer-profile
{
    padding:10px;
}

span.label-success2 {
    position: absolute;
    content: '';
    top: 15px;
    right: -4px;
    background-color: #00a65a  !important;
    /* border-radius: 50px; */
    /* opacity: .75; */
    font-size: 9px;
    padding: 0px 3px 0px 3px;
    color: #fff;
}

span.label-success3 {
    position: absolute;
    content: '';
    top: 15px;
    right: -4px;
    background-color: #f39c12  !important;
    /* border-radius: 50px; */
    /* opacity: .75; */
    font-size: 9px;
    padding: 0px 3px 0px 3px;
    color: #fff;
}

.liuser .btn{
    color: #778395 !important;
}

.headermenu li:not(.liuser) .dropdown-menu {
   height:auto !important;
}

.headermenu .tab-content {
    text-align: left !important;
}

.headermenu .dm-notice {
  padding: 5px 20px 10px !important;
}

.headermenu .list-group-item {
    padding: 10px 15px !important;
}

