﻿
.messages {
    margin-left: 10px;
    margin-top: 10px;
    color: #FFBABA;
    font-size: 12px;
}

.autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    /* display: inline-block; */
    width: 100%;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
}

    .autocomplete-items div {
        padding: 3px;
        cursor: pointer;
        background-color: #fff;
        /*width: 100%;*/
        max-width: 300px;
        border-bottom: 1px solid #d4d4d4;
        text-align: left;
    }

        .autocomplete-items div:hover {
            /*when hovering an item:*/
            background-color: #e9e9e9;
        }

.autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
}

/*5-08-2018 karuna*/
.no-display {
    display: none !important;
}



.label.error {
    color: #d9534f;
    margin: 0px 0 0 !important;
    display: block;
}

.scroll {
    max-height: 575px;
    overflow: auto;
}

    .scroll::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        background-color: #3b4354;
    }

    .scroll::-webkit-scrollbar {
        width: 3px;
        background-color: #F5F5F5;
    }

    .scroll::-webkit-scrollbar-thumb {
        background-color: #009688;
    }

/*new css 7th oct 2018*/
.select2-container {
    width: 100% !important;
}

.n-d {
    display: none !important;
}


/*modal-popup*/
.modal-layout .modal-title {
    margin-top: -10px;
    margin-bottom: -10px;
}

.modal-layout .modal-btn {
    padding: 8px 16px;
    border-radius: 20px;
    font-size: 12px;
    background: #808080;
    color: #fff;
}

    .modal-layout .modal-btn:hover {
        background: #ccc;
        text-decoration: none;
        color: #000;
    }

.modal-layout .modal-footer {
    text-align: left !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.modal-layout .modal-btn-close {
    color: #fff !important;
    background-color: #f44336 !important;
    margin-left: -5px;
    font-size: 12px;
    padding: 2px;
    text-decoration: none;
}

.modal-layout .modal-body {
    background: #f0faff;
    border: 1px solid #ccc;
    margin-left: 10px;
    margin-right: 10px;
}

.modal-layout .panel-body {
    background: #f0faff;
}

.modal-layout .modal-body {
    max-height: 500px;
    overflow: auto;
    overflow-x: hidden;
}

    .modal-layout .modal-body::-webkit-scrollbar {
        width: 3px;
        background-color: #F5F5F5;
    }

    .modal-layout .modal-body::-webkit-scrollbar-thumb {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        background-color: #3b4354;
    }


.modal-layout .control-label {
    font-weight: 700 !important;
}

.modal-layout .btn-action {
    /* margin-top: -13px; */
}

.modal-layout .panel-footer {
    padding: 0px !important;
}

.modal-layout .modal-btn-reset {
    color: #fff !important;
    background-color: #808080 !important;
    /*margin-left: -5px;*/
    font-size: 12px;
    padding: 2px;
    text-decoration: none;
}

.modal-layout .modal-body .tab-pane {
    background: #f0faff !important;
}

.modal-layout .form-control {
    height: 30px !important;
    padding: 5px 7px !important;
}

.modal-layout textarea.form-control {
    height: auto !important;
}

.modal-layout .select2-container .select2-selection--single {
    height: 30px !important;
    line-height: 30px;
}

.modal-layout .select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 30px !important;
}

.modal-layout .panel-body {
    padding: 10px;
}

.modal-layout .select2-container--default .select2-selection--multiple {
    border: 1px solid #aaa;
}

.modal-layout .select2-container--default .select2-search--inline .select2-search__field {
    line-height: 18px !important;
}

.modal-layout .select2-container--default.select2-container--focus .select2-selection--multiple {
    border: 1px solid #aaa;
}

.modal-layout .form-group {
    margin: 0;
}

.modal-layout .input-group-addon {
    padding: 5px 7px;
}

.modal-layout hr {
    margin: 5px 0;
    border-color: #dbdfe6;
}

/*model popup end*/

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 36px !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 34px !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: #fff !important;
}

    .select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
        color: #fff !important;
    }

.datepicker.dropdown-menu {
    z-index: 10002 !important;
}

.wizarddisabled {
    pointer-events: none;
    cursor: default;
}

.m-b-30 {
    top: 30px;
    position: relative;
}


.twitter-typeahead {
    display: block !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #415ca5 !important;
    border: 1px solid #a7a7e1 !important;
}

.select2-container .select2-selection--multiple .select2-selection__rendered {
    white-space: normal !important;
}

.modal-layout .edit {
    cursor: pointer
}

.modal-layout .remove {
    cursor: pointer
}

body.modal-open {
    overflow: hidden !important;
}

.malorum-top:hover .cover-pic-edit a, .malorum-top:focus .cover-pic-edit a:not(input[type=file]) {
    visibility: visible;
    opacity: 1;
}

#wait-loader .modal-header {
    border-bottom: 0px solid #e5e5e5 !important;
}

#wait-loader .modal-content {
    background: #f0faff;
}

#wait-loader .modal-body {
    height: 125px !important;
}
/*#wait-loader .modal-dialog {
    top: 30% !important;
}*/


#wait-loader .loader {
    /*border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;*/
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -65px 0 0 -65px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 100px;
    height: 100px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Add animation to "page content" */
#wait-loader .animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@-webkit-keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }

    to {
        bottom: 0px;
        opacity: 1
    }
}

@keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }

    to {
        bottom: 0;
        opacity: 1
    }
}

.dropdown-action .dropdown-menu {
    /*090519*/
    width: auto;
}

.dropdown-action .dropdown-item {
    display: block;
    padding-bottom: 6px;
}

    .dropdown-action .dropdown-item:hover {
        background-color: #ddd3d3;
        padding: 3px 0px 3px 0px;
    }

.lds-ring {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}

    .lds-ring div {
        box-sizing: border-box;
        display: block;
        position: absolute;
        width: 51px;
        height: 51px;
        margin: 6px;
        border: 6px solid #f3f3f3;
        border-radius: 50%;
        animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        border-color: #26acc9 transparent transparent transparent;
    }

        .lds-ring div:nth-child(1) {
            animation-delay: -0.45s;
        }

        .lds-ring div:nth-child(2) {
            animation-delay: -0.3s;
        }

        .lds-ring div:nth-child(3) {
            animation-delay: -0.15s;
        }

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
/*hearder*/

/*slicks slider*/

/*.slider {
    width: 100%;
    margin: 100px auto;
}

.slick-slide {
    margin: 0px 20px;
}

    .slick-slide img {
        width: 100%;
    }

.slick-prev {
    left: -10px;
    top: 160px;
}

.slick-next {
    right: -10px;
    top: 160px;
}

    .slick-prev:before,
    .slick-next:before {
        color: black;
    }


.slick-slide {
    transition: all ease-in-out .3s;
    opacity: .2;
}

.slick-active {
    opacity: .5;
}

.slick-current {
    opacity: 1;
}*/

.table-responsive {
    overflow-x: initial !important;
}

/*end slicks slider*/


/*tree view*/
.treeview {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

    .treeview ul {
        list-style-type: none !important;
    }


    .treeview .caret {
        cursor: pointer !important;
        -webkit-user-select: none !important; /* Safari 3.1+ */
        -moz-user-select: none !important; /* Firefox 2+ */
        -ms-user-select: none !important; /* IE 10+ */
        user-select: none !important;
        display: initial;
        width: 0;
        height: 0;
        margin-left: 0px;
        vertical-align: middle;
        border-top: none;
        border-top: 4px solid \9;
        border-right: 4px solid transparent;
        border-left: 4px solid transparent;
    }

        .treeview .caret::before {
            content: "\25B6" !important;
            color: black !important;
            display: inline-block !important;
            margin-right: 6px !important;
        }

    .treeview .caret-down::before {
        -ms-transform: rotate(90deg) !important; /* IE 9 */
        -webkit-transform: rotate(90deg) !important; /* Safari */
        ' transform: rotate(90deg) !important;
    }

    .treeview .nested {
        display: none !important;
    }

    .treeview .active {
        display: block !important;
    }

/*end tree view*/

/*notification*/
.noticeDropdown .notice-list .list-group-item:first-child {
    padding-top: 0 !important;
}

.noticeDropdown .list-group .list-group-item {
    padding-left: 0 !important;
    padding-right: 0 !important;
    border-color: #dbdfe6 !important;
}

.noticeDropdown img {
    width: 42px;
    padding: 2px;
    border: 2px solid #dbdfe6;
    border-radius: 50%;
}

.all_notification img {
    width: 42px;
    padding: 2px;
    border: 2px solid #dbdfe6;
    border-radius: 50%;
}

.all_notification h5 a {
    color: #262b36;
}

/*end notification*/

.config-dropdown > li > a > .fa {
    visibility: hidden;
}

.config-dropdown > li > a.selected > .fa {
    visibility: visible;
}

/*080519*/
.f-r {
    float: right;
}

/*090519*/
#settings .input-group-btn .btn:not(.btn-lg), #settings .input-group-btn .btn:not(.btn-sm), #settings .input-group-btn .btn:not(.btn-xs) {
    min-height: 25px;
}

#share-modal .twitter-typeahead {
    background-color: #fff;
    margin-bottom: 20px;
}

/*030619*/
.float-right {
    float: right;
}

.float-left {
    float: left;
}

i.edit {
    color: green;
    padding: 2px;
}

i.delete {
    color: red;
    padding: 2px;
}

i.remove {
    color: red;
    padding: 2px;
}

.professional-col-row {
    border: 1px solid #000;
}




/*start morris css 060819*/
.morris-hover {
    position: absolute;
    z-index: 1000;
}

    .morris-hover.morris-default-style {
        border-radius: 10px;
        padding: 6px;
        color: #666;
        background: rgba(255, 255, 255, 0.8);
        border: solid 2px rgba(230, 230, 230, 0.8);
        font-family: sans-serif;
        font-size: 12px;
        text-align: center;
    }

        .morris-hover.morris-default-style .morris-hover-row-label {
            font-weight: bold;
            margin: 0.25em 0;
        }

        .morris-hover.morris-default-style .morris-hover-point {
            white-space: nowrap;
            margin: 0.1em 0;
        }

svg {
    width: 100%;
}
/*end morris css*/

img.back {
    width: auto !important;
    height: auto !important;
    max-width: 100% !important;
    max-height: 100% !important;
}

.table ul.thumb-Images {
    margin-left: -45px !important;
    margin-top: -20px !important;
}

    .table ul.thumb-Images li {
        margin-right: 2px;
        margin-bottom: 2px;
        width: 50px !important;
        float: left;
        display: inline-block;
        vertical-align: top;
        height: 50px !important;
    }

.table .thumb {
    height: 50px;
    width: 50px;
    border: 1px solid #000;
}



.no-event {
    pointer-events: none;
    background-color: #d8cece !important;
}

.profile-edit a i,
.profile-edit2 a i {
    font-size: 15px !important;
}

.profile-remove a i {
    font-size: 15px !important;
    margin-left: 15px !important;
    margin-top: -3px !important;
    position: absolute;
}

.profile-remove2 a i {
    font-size: 15px !important;
    margin-left: 0px !important;
    margin-top: 0px !important;
    position: absolute;
}

/*start datatable css*/
.datatable .panel-heading {
    position: relative;
    bottom: 0px !important;
}

    .datatable .panel-heading h4 {
        position: relative;
        margin-top: -6px;
    }

.datatable table thead th {
    background: #2F4F4F !important;
    font-size: 10px !important;
    color: #fff !important;
}

.datatable .dropdown-menu {
    min-width: 60px !important;
}

.datatable table thead tr.filter td {
    background-color: #f6f7f8 !important;
    padding: 3px 0px 3px 0px !important;
}

.datatable .active {
    color: #ffffff;
    background-color: #2574ab;
}

.datatable .select2-container .select2-selection--single {
    height: 36px !important;
}

.datatable td.details-control {
    background: url('/design1/images/details_open.png') no-repeat center center;
    cursor: pointer;
}

.datatable tr.shown td.details-control {
    background: url('/design1/images/details_close.png') no-repeat center center;
}

.datatable .table.dataTable td.details-control:before {
    font-family: 'FontAwesome';
    content: '' !important;
    display: block;
    text-align: center;
}

.datatable_hidden tbody tr td {
    position: relative;
    line-height: 35px;
    min-width: 150px;
}


/*end start datatable css*/
/*171119*/
.breadcrumb-quirk_ a.active {
    color: #fff !important;
    background-color: #f44336 !important;
}

/*18012020*/
.list-view-btns button {
    margin: 0px 2px 0 0;
}

.course-list li {
    margin: 2px 15px !important;
}

#joblist .list-blocks {
    margin-bottom: 15px;
}

.blockskill {
    margin-left: -44px;
}

    .blockskill li {
        -webkit-border-radius: 6px !important;
        border: 1px solid #CAD8F3 !important;
        background: none !important;
        background-color: #DEE7F8 !important;
        font-weight: normal !important;
        padding: .2em 6px .2em .5em !important;
        position: relative !important;
        line-height: inherit !important;
        display: block !important;
        float: left !important;
        margin: 2px 5px 2px 0 !important;
        font-size: 14px !important;
    }

.searchcontainer .form-control {
    height: 30px !important;
    padding: 5px 7px !important;
}

.select2-container .select2-selection--single { /*12042020*/
    height: 38px !important;
}

.m-t20 {
    margin-top: 20px;
}

.m_t10 {
    margin-top: -10px !important;
}

.p_l_r_15 {
    padding-left: 15px !important;
    padding-right: 15px !important;
}

.p-8 {
    padding: 8px;
}

.m-b20 {
    margin-bottom: 20px;
}

.profile-edit {
    left: 0 !important;
}

.m-t-10 {
    margin-top: 10px !important;
}

.envalope {
    font-family: 'FontAwesome';
    font-size: 16px;
    font-weight: 400;
    color: #989ca6;
    position: absolute;
    /* top: 5px; */
    right: 10px;
    margin-top: -24px;
    cursor: pointer;
}



.m_r_5 {
    margin-right: 5px;
}

ul.course-list li {
    margin: 2px 15px !important;
}

li.tagit {
    -webkit-border-radius: 6px !important;
    border: 1px solid #CAD8F3 !important;
    background: none !important;
    background-color: #DEE7F8 !important;
    font-weight: normal !important;
    padding: .2em 6px .2em .5em !important;
    position: relative !important;
    line-height: inherit !important;
    display: block !important;
    float: left !important;
    margin: 2px 5px 2px 0 !important;
    font-size: 14px !important;
}

.page_sort {
    margin: 0 !important;
    float: right;
}

    .page_sort .page-link {
        background-color: #fff;
    }

/*image*/

.img_60 { /*10052020*/
    width: 60px;
    height: 60px;
    padding-left: 2px;
    padding-bottom: 2px;
}

/*23052020*/

.common_form .form-control {
    height: 30px !important;
    padding: 5px 7px !important;
}

.common_form textarea.form-control {
    height: auto !important;
}

.common_form .select2-container .select2-selection--single {
    height: 30px !important;
    line-height: 30px;
}

.common_form .select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 30px !important;
}

.common_form .panel-body {
    padding: 10px;
}

.common_form .select2-container--default .select2-selection--multiple {
    border: 1px solid #aaa;
}

.common_form .select2-container--default .select2-search--inline .select2-search__field {
    line-height: 18px !important;
}

.common_form .select2-container--default.select2-container--focus .select2-selection--multiple {
    border: 1px solid #aaa;
}

.common_form .form-group {
    margin: 0;
}

.common_form .input-group-addon {
    padding: 5px 7px;
}

.common_form hr {
    margin: 5px 0;
    border-color: #dbdfe6;
}

.common_form .wizard > .actions {
    background-color: #fff;
}


.food {
    cursor: pointer;
}

.non_food {
    cursor: pointer;
}

.check.active {
    position: relative;
    left: 37px;
    top: -18px;
    color: green;
    display: inline;
}

.check.inactive {
    display: none;
}

.h_68 {
    height: 68px !important;
}

.m_b_15 {
    margin-bottom: 15px !important;
}

/*span.check.active {
    display: contents;
    content: "\2714";
}

span.check.inactive {
    display: none;
}*/


/*.licard {
    width: 23.8% !important;
    height: 270px;
}

    .licard .services-features img {
        margin-top: -20px; 
        width: 100% !important;
        margin-bottom: 15px !important;
    }

    .licard .media-body {
        height: 90px !important;
    }*/

.licard {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    /*max-width: 300px;*/
    width: 23.8% !important;
    margin: auto;
    text-align: center;
    font-family: arial;
    float: left;
    margin: 5px;
    padding: 5px;
    height: 310px;
}

    .licard:hover {
        transform: scale(1.02);
        /*filter: brightness(0.75) saturate(1.2) contrast(0.85);*/
        transform-origin: center;
        transition: filter 200ms linear, transform 200ms linear;
    }

    .licard img {
        margin-top: -18px;
        width: 100% !important;
        cursor: pointer;
        height: 160px;
    }

    .licard .title {
        color: grey;
        /*font-size: 18px;*/
        font-size: 16px;
    }

    .licard .dropdown-toggle {
        color: red;
    }

    .licard .body {
        height: 87%;
    }

    .licard .footer {
        height: 13%;
    }

    .licard button {
        border: none;
        outline: 0;
        display: inline-block;
        padding: 8px;
        color: white;
        /*background-color: #000;*/
        text-align: center;
        cursor: pointer;
        /*width: 100%;
        font-size: 18px;*/
        line-height: 0.8 !important;
    }

        /*.licard a {
        text-decoration: none;
        font-size: 22px;
        color: black;
    }*/

        .licard button:hover, a:hover {
            opacity: 0.7;
        }

    .licard .rating-md {
        font-size: 1em;
    }

.m-r-5 {
    margin-right: 5px
}



.radiogroup {
    width: 500px;
    /*margin: 70px auto;*/
    position: relative;
}

    .radiogroup ul {
        list-style: none !important;
    }

.wizard > .content > .body .radiogroup ul > li {
    display: flex !important;
}

.radiogroup ul li {
    border-bottom: 2px solid #ffffff !important;
}

    .radiogroup ul li:last-child {
        border-bottom: 1px solid transparent !important;
    }

.radiogroup .control input {
    position: absolute;
    left: 30px;
    opacity: 0;
}

.radiogroup .control {
    display: block;
    position: relative;
    padding-left: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
    cursor: pointer;
    font-size: 1.8rem;
    font-weight: bold;
}

    .radiogroup .control span {
        color: #696c74;
        transition: color 0.5s;
    }

.radiogroup .control-indicator {
    position: absolute;
    top: 14px;
    left: 10px;
    height: 30px;
    width: 30px;
    background-color: transparent;
    border: 6px solid #696c74;
    border-radius: 50%;
    transition: border-color 0.5s;
}

    .radiogroup .control-indicator:after {
        content: '';
        position: absolute;
        display: block;
        left: 4px;
        top: 4px;
        height: 10px;
        width: 10px;
        border-radius: 50%;
        transition: border-color 0.5s, background-color 0.5s;
    }

.radiogroup .control input:focus ~ span,
.radiogroup .control input:hover ~ span {
    color: #FBBC05;
}

.radiogroup .control input:focus ~ .control-indicator,
.radiogroup .control input:hover ~ .control-indicator {
    border-color: #FBBC05;
}

.radiogroup .control input:checked ~ span {
    color: #c0392b;
}

.radiogroup .control input:checked ~ .control-indicator {
    border-color: #c0392b;
}

    .radiogroup .control input:checked ~ .control-indicator:after {
        background-color: #c0392b;
    }

.m-t-4 {
    margin-top: 4px !important;
}


.same-page-services .tabbable-line > .nav-tabs > li:hover {
    border-bottom: none !important;
}

.country-select input {
    border: #fff !important;
}

.h_54 {
    height: 54px !important;
}

.m_t_0 {
    margin-top: 0 !important;
}

.m_t_18 {
    margin-top: -18px !important;
}

.note-editor .note-editable {
    background-color: #fcfcfd !important;
}
/* code by webdevtrick ( https://webdevtrick.com ) */

.p_2 {
    padding: 2px;
}

.p_r_4 {
    padding-right: 4px;
}

.p_r_8 {
    padding-right: 8px;
}

.suggestion-avatar {
    width: 25px;
    height: 25px;
}

.member-name {
    font-size: 14px;
}

.tt-open {
    width: 200px !important;
    top: 30px !important;
}

.pcart {
    font-weight: 700;
    font-size: 12px;
}

.header-right {
    width: 22% !important;
}


.mail_notification .list-group .list-group-item .media .media-body h5:not(.media-heading) {
    margin: 0;
    color: #3b4354;
    font-size: 13px;
    font-weight: 500;
}

.mail_notification .list-group .list-group-item .media .media-body h5.media-heading {
    margin-bottom: 3px;
    font-weight: normal;
    font-size: 12px;
    color: #505b72;
}

.mail_notification .list-group .list-group-item .media .media-body span {
    font-size: 11px;
    color: #909bb1;
    margin-top: -2px;
}

.mail_notification .list-group .list-group-item .media p {
    margin: 5px 0 0;
    color: #505b72;
    font-size: 12px;
    text-align: left;
    text-transform: none;
    font-weight: 500;
}

.p_15 {
    padding: 15px;
}

/*28082020*/
.btn_admin_panel {
    margin-top: 15px;
    margin-bottom: 10px;
}

#pageLoader {
    /*background: url("to/your/ajaxloader.gif") no-repeat scroll center center #FFF;*/
    position: absolute;
    left: 55%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    /*position: absolute;
    height: 100%;
    width: 100%;*/
}

#setting_modal .list-group-settings .list-group-item {
    border: none;
}

#setting_modal .list-group-settings .toggle-wrapper {
    top: -15px;
}


.all_notification .notice-list {
    margin-top: -20px;
}

    .all_notification .notice-list .list-group-item {
        border-left: none;
        border-right: none;
    }