﻿/*modal-popup*/
.modal-layout .modal-title {
    margin-top: -10px;
    margin-bottom: -10px;
}

.modal-layout .modal-btn {
    padding: 8px 16px;
    border-radius: 20px;
    font-size: 12px;
    background: #808080;
    color: #fff;
}

    .modal-layout .modal-btn:hover {
        background: #ccc;
        text-decoration: none;
        color: #000;
    }

.modal-layout .modal-footer {
    text-align: left !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.modal-layout .modal-btn-close {
    color: #fff !important;
    background-color: #f44336 !important;
    margin-left: -5px;
    font-size: 12px;
    padding: 2px;
    text-decoration: none;
}

.modal-layout .modal-body {
    background: #f0faff;
    border: 1px solid #ccc;
    margin-left: 10px;
    margin-right: 10px;
}

.modal-layout .panel-body {
    background: #f0faff;
}

.modal-layout .modal-dialog{
        height: 500px;
        overflow: auto;
}

.modal-layout .modal-dialog::-webkit-scrollbar {
        width: 3px;
        background-color: #F5F5F5;
}

.modal-layout .modal-dialog::-webkit-scrollbar-thumb {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        background-color: #3b4354;
}


.modal-layout .control-label {
    font-weight: 700 !important;
}

.modal-layout .btn-action {
    margin-top: -13px;
}

/*@media (max-width:399px) and (min-width:300px) {
    .modal-layout .modal-content {
        width: 300px;
    }
}

@media (max-width:499px) and (min-width:400px) {
    .modal-layout .modal-content {
        width: 380px;
    }
}*/


.modal-layout .panel-footer {
    padding: 0px !important;
}

.modal-layout .modal-btn-reset {
    color: #fff !important;
    background-color: #808080 !important;
    /*margin-left: -5px;*/
    font-size: 12px;
    padding: 2px;
    text-decoration: none;
}

.modal-layout .modal-body .tab-pane {
    background: #f0faff !important;
}

/*end modal-popup*/