﻿@media (max-width:1499px) and (min-width:1400px) {
    span.malorum-pro {
        left: 520px !important;
    }

    .contentpanel_ {
        margin-top: 5px !important;
    }

    .primary_nav_wrap {
        margin-left: 265px !important;
    }
}

@media (max-width:1399px) and (min-width:1340px) {
    #panel-right-toggle {
        display: block !important;
    }

    .contentpanel_ {
        margin-top: 1.5px !important;
    }

    .primary_nav_wrap {
        margin-left: 156px !important;
    }

    .searchpanel {
        width: 215px !important;
    }

    span.malorum-pro {
        left: 415px !important;
    }
}

@media (max-width:1339px) and (min-width:1300px) {
    #panel-right-toggle {
        display: block !important;
    }

    .contentpanel_ {
        margin-top: 1.5px !important;
    }

    .primary_nav_wrap {
        margin-left: 156px !important;
    }

    .searchpanel {
        width: 215px !important;
    }

    span.malorum-pro {
        left: 466px !important;
    }
}

@media (max-width:1299px) and (min-width:1200px) {
    .searchpanel {
        position: absolute;
        top: 0;
        left: 64px;
        width: 210px !important;
    }

    .primary_nav_wrap {
        float: left;
        width: 50%;
        padding: 0px;
        margin-left: 210px !important;
    }

        .primary_nav_wrap ul a {
            display: block;
            color: #fff;
            text-decoration: none;
            font-size: 12px !important;
            line-height: 32px;
            padding: 16px 10px !important;
            text-align: left;
        }

    .contentpanel_ {
        margin-top: 1.5px !important;
    }

    .searchpanel {
        width: 215px !important;
    }

    .headerbar .primary_nav_wrap {
        margin-left: 155px !important;
        width: 55% !important;
    }
}

@media (max-width:1199px) and (min-width:1100px) {
    .searchpanel {
        position: absolute;
        top: 0;
        left: 53px !important;
        width: 180px !important;
    }

    .primary_nav_wrap {
        float: left;
        width: 50%;
        padding: 0px;
        margin-left: 180px !important;
    }

        .primary_nav_wrap ul a {
            display: block;
            color: #fff;
            text-decoration: none;
            font-size: 12px !important;
            line-height: 32px;
            padding: 16px 6px !important;
            text-align: left;
        }

    .contentpanel_ {
        margin-top: 1.5px !important;
    }

    .searchpanel {
        width: 215px !important;
    }

    .headerbar .primary_nav_wrap {
        margin-left: 155px !important;
        width: 55% !important;
    }
}

@media (max-width:1099px) and (min-width:1000px) {
    .searchpanel {
        position: absolute;
        top: 0;
        /* left: 47px !important; */
        width: 151px !important;
    }

    .primary_nav_wrap {
        float: left;
        width: 50%;
        padding: 0px;
        margin-left: 156px !important;
    }

        .primary_nav_wrap ul a {
            display: block;
            color: #fff;
            text-decoration: none;
            font-size: 12px !important;
            line-height: 32px;
            padding: 15px 3px !important;
            text-align: left;
        }

    .header-right {
        float: right;
        padding-right: 0px !important;
    }

    .menutoggle i {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -11px;
        margin-left: -20px;
    }

    .headermenu > li > .btn-group > .btn-notice {
        font-size: 14px !important;
    }

    .contentpanel_ {
        margin-top: 1.5px !important;
    }

    .searchpanel {
        width: 215px !important;
    }

    span.malorum-pro {
        left: 340px !important;
    }

    .services-list li {
        width: 48% !important;
    }

    .services-list .licard {
        width: 48% !important;
    }

    .headerbar .primary_nav_wrap {
        margin-left: 155px !important;
        width: 48% !important;
    }

    .headerbar .header-right {
        width: 32% !important;
    }
}

@media (max-width:999px) and (min-width:900px) {
    .searchpanel {
        position: absolute;
        top: 0;
        left: 57px !important;
        width: 200px !important;
    }

    .primary_nav_wrap {
        float: left;
        width: 50%;
        padding: 0px;
        margin-left: 210px !important;
    }

        .primary_nav_wrap ul a {
            display: block;
            color: #fff;
            text-decoration: none;
            font-size: 13px !important;
            line-height: 32px;
            padding: 15px 6px !important;
            text-align: left;
        }

    .header-right {
        float: right;
        padding-right: 0px !important;
    }

    .menutoggle i {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -11px;
        margin-left: -20px;
    }

    .headermenu > li > .btn-group > .btn-notice {
        font-size: 14px !important;
    }

    .services-list li {
        width: 32.5% !important;
    }

    .services-list .licard {
        width: 100% !important;
    }

    .headerbar .primary_nav_wrap {
        margin-left: 155px !important;
        width: 48% !important;
    }

    .headerbar .header-right {
        width: 32% !important;
    }

}

@media (max-width:899px) and (min-width:800px) {
    .searchpanel {
        position: absolute;
        top: 0;
        left: 49px !important;
        width: 158px !important;
    }

    .primary_nav_wrap {
        float: left;
        width: 50%;
        padding: 0px;
        margin-left: 154px !important;
    }

        .primary_nav_wrap ul a {
            display: block;
            color: #fff;
            text-decoration: none;
            font-size: 10px !important;
            line-height: 32px;
            padding: 15px 6px !important;
            text-align: left;
        }

    .header-right {
        float: right;
        padding-right: 0px !important;
    }

    .menutoggle i {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -11px;
        margin-left: -20px;
    }

    .headermenu > li > .btn-group > .btn-notice {
        font-size: 12px !important;
    }

    .headermenu > li > .btn-group > .btn-logged {
        padding: 5px 10px 15px;
        border: 0;
    }

    .services-list li {
        width: 32.5% !important;
    }

    .services-list .licard {
        width: 100% !important;
    }
}

@media (max-width:799px) and (min-width:700px) {
    .headermenu > li .btn {
        border-radius: 0;
        background-color: transparent;
        color: #000000;
        height: 64px;
        border: 0;
        padding-left: 5px;
        padding-right: 5px;
    }

    .searchpanel-23 {
        width: 630px !important;
    }

    .pf_contact-details {
        padding-left: 0% !important;
    }

    .product_config_modal .btn_dynamic_top {
        margin-top: 0px !important;
        padding: 4px 4px 8px 4px;
        margin-bottom: 5px;
    }

    .services-sidebar {
        position: relative;
        top: 0 !important;
        float: none;
        margin-top: 20px !important;
    }

    .services-list li {
        width: 32.5% !important;
    }

    .services-list .licard {
        width: 31.5% !important;
    }
}

@media (max-width:699px) and (min-width:600px) {
    .headermenu > li .btn {
        border-radius: 0;
        background-color: transparent;
        color: #000000;
        height: 64px;
        border: 0;
        padding-left: 5px;
        padding-right: 5px;
    }

    .product_config_modal .btn_dynamic_top {
        margin-top: 0px !important;
        padding: 4px 4px 8px 4px;
        margin-bottom: 5px;
    }

    .services-sidebar {
        position: relative;
        top: 0 !important;
        float: none;
        margin-top: 20px !important;
    }

    .services-list li {
        width: 48% !important;
    }

    .services-list .licard {
        width: 100% !important;
    }
}

@media (max-width:599px) and (min-width:500px) {
    .headermenu > li .btn {
        border-radius: 0;
        background-color: transparent;
        color: #000000;
        height: 64px;
        border: 0;
        padding-left: 5px;
        padding-right: 5px;
    }

    .product_config_modal .btn_dynamic_top {
        margin-top: 0px !important;
        padding: 4px 4px 8px 4px;
        margin-bottom: 5px;
    }

    .services-sidebar {
        position: relative;
        top: 0 !important;
        float: none;
        margin-top: 20px !important;
    }

    .services-list li {
        width: 48% !important;
    }

    .services-list .licard {
        width: 100% !important;
    }
}

@media (max-width:499px) and (min-width:420px) {
    .headermenu > li .btn {
        border-radius: 0;
        background-color: transparent;
        color: #000000;
        height: 64px;
        border: 0;
        padding-left: 5px;
        padding-right: 5px;
    }

    .searchpanel-23 {
        width: 280px !important;
    }

    /*.bussinessuser-form .action-buttons {
        bottom: 10px !important;
    }*/

    .product_config_modal .btn_dynamic_top {
        margin-top: 0px !important;
        padding: 4px 4px 8px 4px;
        margin-bottom: 5px;
    }

    .services-sidebar {
        position: relative;
        top: 0 !important;
        float: none;
        margin-top: 20px !important;
    }

    .services-list li {
        width: 48% !important;
    }

    .services-list .licard {
        width: 100% !important;
    }
}

@media (max-width:419px) and (min-width:400px) {
    .headermenu > li .btn {
        border-radius: 0;
        background-color: transparent;
        color: #000000;
        height: 64px;
        border: 0;
        padding-left: 5px;
        padding-right: 5px;
    }

    .searchpanel-23 {
        width: 270px !important;
    }

    /*.bussinessuser-form .action-buttons {
        bottom: 10px !important;
    }*/

    .product_config_modal .btn_dynamic_top {
        margin-top: 0px !important;
        padding: 4px 4px 8px 4px;
        margin-bottom: 5px;
    }

    .services-sidebar {
        position: relative;
        top: 0 !important;
        float: none;
        margin-top: 20px !important;
    }

    .services-list li {
        width: 48% !important;
    }

    .services-list .licard {
        width: 100% !important;
    }
}

@media (max-width:399px) and (min-width:330px) {
    .headermenu > li .btn {
        border-radius: 0;
        background-color: transparent;
        color: #000000;
        height: 64px;
        border: 0;
        padding-left: 5px;
        padding-right: 5px;
    }

    /*.bussinessuser-form .action-buttons {
        bottom: 10px !important;
    }*/

    .malorum-pro {
        top: -90px !important;
        left: 105px !important;
    }

    .product_config_modal .btn_dynamic_top {
        margin-top: 0px !important;
        padding: 4px 4px 8px 4px;
        margin-bottom: 5px;
    }

    .services-sidebar {
        position: relative;
        top: 0 !important;
        float: none;
        margin-top: 20px !important;
    }

    .services-list li {
        width: 100% !important;
    }

    .services-list .licard {
        width: 100% !important;
    }
}

@media (max-width:329px) and (min-width:300px) {
    .headermenu > li .btn {
        border-radius: 0;
        background-color: transparent;
        color: #000000;
        height: 64px;
        border: 0;
        padding-left: 5px;
        padding-right: 5px;
    }

    .searchpanel-23 {
        width: 180px !important;
    }

    .malorum-pro {
        top: -90px !important;
        left: 80px !important;
    }

    /*.bussinessuser-form .action-buttons {
        bottom: 10px !important;
    }*/

    .product_config_modal .btn_dynamic_top {
        margin-top: 0px !important;
        padding: 4px 4px 8px 4px;
        margin-bottom: 5px;
    }

    .services-sidebar {
        position: relative;
        top: 0 !important;
        float: none;
        margin-top: 20px !important;
    }

    .services-list li {
        width: 100% !important;
    }

    .services-list .licard {
        width: 100% !important;
    }
}

@media (max-width:299px) {
    .headermenu > li .btn {
        border-radius: 0;
        background-color: transparent;
        color: #000000;
        height: 64px;
        border: 0;
        padding-left: 5px;
        padding-right: 5px;
    }

    .malorum-pro {
        top: -90px !important;
        left: 80px !important;
    }


    /*.bussinessuser-form .action-buttons {
        bottom: 10px !important;
    }*/

    .product_config_modal .btn_dynamic_top {
        margin-top: 0px !important;
        padding: 4px 4px 8px 4px;
        margin-bottom: 5px;
    }

    .services-sidebar {
        position: relative;
        top: 0 !important;
        float: none;
        margin-top: 20px !important;
    }

    .services-list li {
        width: 100% !important;
    }

    .services-list .licard {
        width: 100% !important;
    }
}


/*25052019*/
@media (max-width:399px) and (min-width:300px) {
    .modal-layout .modal-content {
        /*width: 300px;*/
    }

    .container {
        width: 300px;
    }


    .carrer-add-col {
        top: 10px;
    }

    #contentcertificate .carrer-add-col {
        top: 22px;
    }

    .course-list li {
        width: 92% !important;
    }

    .profile-edit {
        left: 12px !important;
    }

    /*.bussinessuser-form .action-buttons {
        bottom: 10px !important;
    }*/

    .product_config_modal .btn_dynamic_top {
        margin-top: 0px !important;
        padding: 4px 4px 8px 4px;
        margin-bottom: 5px;
    }

    .services-sidebar {
        position: relative;
        top: 0 !important;
        float: none;
        margin-top: 20px !important;
    }
}

@media (max-width:499px) and (min-width:400px) {
    .modal-layout .modal-content {
        /*width: 380px;*/
    }

    .container {
        width: 380px;
    }

    .malorum-pro {
        top: -90px !important;
        left: 115px !important;
    }

    .carrer-add-col {
        top: 10px;
    }

    .course-list li {
        width: 92% !important;
    }

    .profile-edit {
        left: 12px !important;
    }

    .product_config_modal .btn_dynamic_top {
        margin-top: 0px !important;
        padding: 4px 4px 8px 4px;
        margin-bottom: 5px;
    }
}

@media (max-width:799px) and (min-width:700px) {
    .malorum-pro {
        left: 290px !important;
    }

    .profile-edit {
        left: 12px !important;
    }

    .product_config_modal .btn_dynamic_top {
        margin-top: 0px !important;
        padding: 4px 4px 8px 4px;
        margin-bottom: 5px;
    }
}

@media only screen and (max-width: 800px) and (orientation : portrait) {
    .header-middle {
        z-index: 1 !important;
    }

    .services-sidebar {
        position: relative;
        top: 0 !important;
        float: none;
        margin-top: 20px !important;
    }

    /*.contentpanel_ {
        margin-top: 5px !important;
    }*/
}
