@import url('https://fonts.googleapis.com/css?family=Roboto:100i,300,300i,400,400i,500,500i,700,700i');

.headerpanel .logopanel {
    width: 91px;
    left: -148px !important;
    background-color: #262b36;
    margin-left: 0 !important;
    background-color: transparent;
}

.headerbar {
    margin-left: 220px !important;
}

.searchpanel {
    left: 3px;
    width: 321px;
}

.leftpanel {
    z-index: 999;
    top: 64px;
}

.primary_nav_wrap {
    margin-left: 299px;
}

.menutoggle {
    left: -218px;
}

.nav-quirk > li > a:hover {
}

.nav-quirk > li > a:hover,
.nav-quirk > li > a:focus {
    color: #fff;
    background-color: #1ae679;
    background-image: -webkit-gradient(linear, left top, right top, from(#209f3c), to(#7825ab));
    background-image: linear-gradient(to right, #209f3c 0%, #7825ab 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff259dab', endColorstr='#ff2574ab', GradientType=1);
}

    .nav-quirk > li > a:hover > i {
        color: #fff;
    }

.primary_nav_wrap ul a {
    margin: 0;
    padding: 4px 10px;
    text-align: center;
}

    .primary_nav_wrap ul a:hover,
    .primary_nav_wrap ul a:focus {
        color: #9F0;
    }

.primary_nav_wrap ul {
    padding: 11px 0;
}

.filter-serch .dropdown-menu > li > a:hover,
.filter-serch .dropdown-menu > li > a:focus {
    background-color: #3b4354;
}

.primary_nav_wrap ul li:hover {
    background: transparent;
}

.headermenu > li {
    padding: 0 5px;
}

    .headermenu > li .btn {
        height: 57px;
    }

.searchpanel-23 .input-group .form-control {
    color: #000;
}

.searchpanel .input-group .form-control,
.searchpanel .input-group .btn {
    background-color: #fff;
    color: #000;
}

.autocomplete-items div {
    max-width: 320px;
}

.headermenu .dropdown-menu {
    height: 94px;
}

.filter-serch .btn-default.dropdown-toggle {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 80px;
}

    .filter-serch .btn-default.dropdown-toggle .caret {
        position: absolute;
        right: 8px;
        top: 16px;
    }

.primary_nav_wrap {
    width: 43%;
}

.header-right {
    padding-right: 16px;
    width: 28%;
}

.headermenu li:last-child.liuser {
    padding: 0;
    padding-left: 22px;
}

.headermenu li {
    padding: 0 12px;
}

    .headermenu li:nth-child(3) {
        margin-right: 20px;
    }

.headermenu > li > .btn-group > .btn-logged {
    padding-right: 0;
}

.middle-header-icons1 {
    display: none;
}


.malorum-top {
    /*background: url(../images/1.jpg)no-repeat;*/
    background-size: cover;
    min-height: 250px;
}

.w-100 {
    width: 100%;
}

.cover-img-hight {
    height: 250px;
}

.malorm-bottom {
    padding: 1.5em 2em;
    position: relative;
    background: #fff;
}

span.malorum-pro {
    /*background: url(../images/b3.png)no-repeat;*/
    width: 120px;
    height: 120px;
    display: inline-block;
    position: absolute;
    top: -60px;
    left: 265px;
    border: 2px solid #ccc;
    border-radius: 63px;
    -webkit-border-radius: 63px;
    -moz-border-radius: 63px;
    -o-border-radius: 63px;
    overflow: hidden;
}

    span.malorum-pro img {
        width: 100%;
    }

.malorm-bottom h2 {
    font-size: 20px;
    color: #71727B;
    text-align: left;
    margin-bottom: 0.5em;
    font-weight: 500;
}

.malorm-bottom h4 {
    font-size: 17px;
    margin: 0.5em 0em;
    color: #7B7C7D;
    font-weight: 400;
}

.malorm-bottom h5 {
    color: #000000;
    margin-top: 0;
    line-height: 34px;
    margin-bottom: 0px;
    text-transform: uppercase;
}

.malorm-bottom h2 span {
    font-size: 16px;
    color: #999;
}

.malorm-bottom p {
    font-size: 1em;
    color: #000;
    line-height: 1.8em;
    text-align: left;
    width: 100%;
    margin: 0 auto;
}

.user-marorm {
    -webkit-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.15);
}

.malorm-bottom ul {
    list-style: none;
    padding: 0px;
    text-align: left;
    /*    margin-top: 1em;*/
    margin: 0px;
}

    .malorm-bottom ul li {
        display: block;
        margin: 10px 0;
        font-size: 14px;
    }

        .malorm-bottom ul li i {
            padding-right: 6px;
        }

.btn-blue {
    background: #06F;
    color: #FFF;
}

.rating-style {
    margin-left: 31px;
}

.malorm-bottom i.fa.fa-facebook {
    font-size: 1em;
    color: #fff;
    background: #3c579e;
    width: 30px;
    height: 30px;
    line-height: 2em;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
}

    .malorm-bottom i.fa.fa-facebook:hover {
        border-radius: 35px;
        transition: 0.5s all;
        -webkit-transition: 0.5s all;
        -moz-transition: 0.5s all;
        -o-transition: 0.5s all;
    }

.malorm-bottom i.fa.fa-twitter {
    font-size: 1em;
    color: #fff;
    background: #0f98ce;
    width: 30px;
    height: 30px;
    line-height: 2em;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
}

    .malorm-bottom i.fa.fa-twitter:hover {
        border-radius: 35px;
        transition: 0.5s all;
        -webkit-transition: 0.5s all;
        -moz-transition: 0.5s all;
        -o-transition: 0.5s all;
    }

.malorm-bottom i.fa.fa-google-plus {
    font-size: 1em;
    color: #fff;
    background: #ca2429;
    width: 30px;
    height: 30px;
    line-height: 2em;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
}

    .malorm-bottom i.fa.fa-google-plus:hover {
        border-radius: 35px;
        transition: 0.5s all;
        -webkit-transition: 0.5s all;
        -moz-transition: 0.5s all;
        -o-transition: 0.5s all;
    }

.malorum-icons li a {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-decoration: none;
    -webkit-transition: all .15s ease;
    transition: all .15s ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.malorum-icons a:hover .tooltip {
    display: block;
    visibility: visible;
    opacity: 1;
    -webkit-transform: translate(0, -10px);
    transform: translate(0, -10px);
}

.malorum-icons a:active {
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5) inset;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5) inset;
}

.malorum-icons .tooltip {
    opacity: 0;
    position: absolute;
    top: -20px;
    left: 50%;
    -webkit-transition: all .15s ease;
    transition: all .15s ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

    .malorum-icons .tooltip span {
        position: relative;
        left: -50%;
        padding: 6px 8px 5px 8px;
        border-radius: 3px;
        color: #fff;
        font-size: 0.7em;
        line-height: 1;
        background: #565656;
        color: #fff;
        letter-spacing: 0.5px;
    }

        .malorum-icons .tooltip span:after {
            position: absolute;
            content: " ";
            width: 0;
            height: 0;
            top: 100%;
            left: 50%;
            margin-left: -8px;
            border: 8px solid transparent;
            border-top-color: #565656;
        }

.malorum-icons i {
    position: relative;
    top: 1px;
    font-size: 1.5rem;
}

span.malorum-pro {
    left: 45%;
}

.chart-layer1-right {
    margin: 5px 0;
}

.pf_contact-details {
    padding-left: 9%;
}

.career_division-block {
    border-bottom: 1px solid #d4d4d4;
    margin-bottom: 20px;
    padding-bottom: 15px;
}

.profile-edit {
    position: absolute;
    left: -292px;
}

    .profile-edit a {
    }

        .profile-edit a i,
        .profile-edit2 a i {
            font-size: 18px;
            color: #00F;
        }

.profile-edit2 {
    margin-left: 15px;
}

.skill-col-row {
    margin-bottom: 28px;
}

.carrer-sub-title {
    margin-bottom: 25px;
}

.carrer-add-col {
    position: absolute;
    right: 15px;
    top: 26px;
}

    .carrer-add-col a,
    .full-view-col a {
        color: #00C;
        text-decoration: underline;
        font-size: 14px;
    }

.full-view-col {
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 15px;
    margin-bottom: 12px;
}

.course-list {
    list-style: none;
    margin: 0 !important;
}

    .course-list li {
        width: 27%;
        float: left;
        margin: 0 15px !important;
        padding: 8px 15px;
        border: 1px solid #000;
    }

        .course-list li h3 {
            font-size: 16px;
            color: #000;
            margin: 0 !important;
        }

        .course-list li span {
            font-size: 12px;
            color: #666;
        }

.cover-pic-edit {
    float: right;
    width: 12%;
    margin-top: 15px;
    position: absolute;
    right: 0;
    top: 0;
}

.malorum-top:hover .cover-pic-edit a,
.malorum-top:focus .cover-pic-edit a {
    visibility: visible;
    opacity: 1;
}

.overlay {
    position: absolute;
    display: none;
    width: 98.2%;
    height: 100%;
    top: 0;
    left: 10px;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.malorum-top:hover .overlay {
    display: block;
}

.cover-pic-edit a {
    margin: 0 10px;
    visibility: hidden;
}

    .cover-pic-edit a i {
        font-size: 18px;
        color: #B3B3DE;
    }

.profile-more-list {
    left: 91px;
}


.info-group {
    font-size: 14px;
    margin-bottom: 8px;
}

    .info-group i {
        font-size: 14px;
        color: #09C;
        padding-right: 15px;
    }

.people-info .career_division-block .carrer-sub-title {
    font-size: 16px !important;
    font-weight: 500;
    color: #999 !important;
    margin: 4px 0;
}

.people-info .career_division-block h5 {
    margin-top: 0;
}

.panel-profile .people-info .info-group {
    background-color: #f2f2f3;
}

.list-view-btns {
    float: right;
    margin-top: 10px;
}

    .list-view-btns button {
    }

.panel-profile .people-info .info-group {
    padding: 6px 12px;
}

.panel-profile.list-view .media .media-object {
    width: 63px;
}


.services-list-serch {
    padding: 15px;
    margin-bottom: 20px;
    background-color: #464f63;
    border-radius: 2px;
}

    .services-list-serch label {
        color: #fff;
        padding-top: 8px;
        font-size: 16px;
        padding-left: 13px;
    }

.btn-src {
    margin: 0 10px;
}

/* Tabs panel */
.tabbable-panel {
    border: 1px solid #eee;
    padding: 10px;
}

/* Default mode */
.tabbable-line > .nav-tabs {
    border: none;
    margin: 0px;
    background: #fff;
}

    .tabbable-line > .nav-tabs > li {
        margin-right: 2px;
    }

        .tabbable-line > .nav-tabs > li > a {
            border: 0;
            margin-right: 0;
            color: #737373;
            background: transparent;
        }

            .tabbable-line > .nav-tabs > li > a > i {
                color: #a6a6a6;
            }

        .tabbable-line > .nav-tabs > li.open,
        .tabbable-line > .nav-tabs > li:hover {
            border-bottom: 4px solid #fbcdcf;
        }

            .tabbable-line > .nav-tabs > li.open > a,
            .tabbable-line > .nav-tabs > li:hover > a {
                border: 0;
                background: none !important;
                color: #333333;
            }

                .tabbable-line > .nav-tabs > li.open > a > i,
                .tabbable-line > .nav-tabs > li:hover > a > i {
                    color: #a6a6a6;
                }

            .tabbable-line > .nav-tabs > li.open .dropdown-menu,
            .tabbable-line > .nav-tabs > li:hover .dropdown-menu {
                margin-top: 0px;
            }

        .tabbable-line > .nav-tabs > li.active {
            border-bottom: 4px solid #259dab;
            position: relative;
        }

            .tabbable-line > .nav-tabs > li.active > a {
                border: 0;
                color: #259dab;
            }

                .tabbable-line > .nav-tabs > li.active > a > i {
                    color: #404040;
                }

.tabbable-line > .tab-content {
    margin-top: -3px;
    background-color: #fff;
    border: 0;
    border-top: 1px solid #eee;
    padding: 15px 0;
    float: left;
    width: 100%;
}

.portlet .tabbable-line > .tab-content {
    padding-bottom: 0;
}

.tab_title {
    background: #fff;
    margin: 0;
    font-size: 20px;
    /*padding: 20px 15px;*/
    padding: 10px 15px;
}

.services-sidebar h3 {
    font-size: 18px;
    font-weight: 500;
    color: #575454;
}

.side-nav {
    list-style: none;
    padding-left: 5px;
}

    .side-nav li {
        font-size: 14px;
        line-height: 30px;
    }

        .side-nav li a {
            font-size: 14px;
            font-weight: normal;
        }

.services-sidebar {
    background: #fff;
    padding: 10px 12px;
    margin-top: 0;
    position: -webkit-sticky;
    position: sticky;
    top: 65px;
    -ms-flex-item-align: end;
    align-self: flex-end;
}

.tab-content > .active {
    width: 100%;
    float: left;
}

.services-features {
    text-align: center;
}

    .services-features img {
        width: 120px;
        height: 120px;
        display: inline-block;
    }

.services-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

    .services-list li {
        float: left;
        width: 24%;
        border: 1px solid black;
        margin: 2px;
        padding: 5px;
    }

        .services-list li p {
            margin-bottom: 2px;
        }

.checked {
    color: orange;
}

.ser-contact-btn {
    text-align: center;
}

    .ser-contact-btn button {
        padding: 5px 12px;
    }

.ser-nav-more a {
    color: #43565c;
    text-decoration: underline;
}


/*service page scroll*/
.same-page-services .services-list-tab {
    background: #fff;
    /*padding: 20px 15px;*/
    padding: 10px 15px;
}

.same-page-services .services-box {
    background: #fff;
    padding: 6px 8px;
    text-align: center;
    border: 1px solid #26acc9;
    border-radius: 5px;
    margin-bottom: 5px;
    /*    overflow: auto;*/
    /*height: 400px;*/
    height: 320px;
}

    .same-page-services .services-box h3 {
        font-family: 'Open Sans', sans-serif;
        margin-top: 0;
        font-size: 16px;
        font-weight: normal;
        padding: 10px 0px;
    }

.same-page-services .slider-list-item {
    list-style: none;
    margin: 0;
    padding-left: 0;
    overflow: auto;
    max-height: 120px;
    padding: 10px 10px;
    background: #f1efef;
    /*height: 227px;*/
}

    .same-page-services .slider-list-item li {
        margin-bottom: 5px;
        /*line-height: 35px;*/
        line-height: 21px;
    }

        .same-page-services .slider-list-item li a {
            font-family: 'Open Sans', sans-serif;
            background: none;
            /*padding: 5px 15px;*/
            padding: 2px 4px;
            font-size: 14px;
            display: block;
            color: #9c9c9c;
            border-radius: 5px;
            border-bottom: 1px solid #e6e6e6;
            /*text-align: left;*/
        }

.serviceImg {
    position: relative;
    overflow: hidden;
    height: 130px;
    /*    margin-bottom: 10px;*/
    /*border-radius: 5px 5px 0px 0px;*/
    margin-bottom: 10px;
    border-radius: 5px;
}


/*
.serviceSlide{
    width: calc(100% - 20px);
    margin: auto;
}
*/

/*.serviceSlider .slick-slide > div {
    padding: 0px 13px 0px 10px;
}*/

.serviceImg img {
    opacity: 1 !important;
}


.same-page-services .carousel-control {
    background: none !important;
}


.carousel-control i {
    padding: 0px;
}

.page {
    display: none;
}

.page-active {
    display: block;
}

.same-page-services .jumbotron {
    padding: 0;
    margin-bottom: 10px;
}

.same-page-services .services_pagination {
    background: #FFF;
    padding: 0 10px;
    float: right;
}

.same-page-services .services-list-tab .carousel-control i {
    /*font-size: 16px;
    color: #fff;
    padding: 0px;
    background: none;
    top: 36px;*/

    font-size: 14px;
    color: #fff;
    background: #009;
    padding: 15px 0;
    background: #464f63;
    width: 38px;
    height: 41px;
    margin-top: -14px;
}

/*.serviceSlider {
    min-width: 100% !important;
}*/

.same-page-services .services-list-tab .carousel-control.left {
    top: 110px;
    bottom: auto;
    left: -5px;
}

.same-page-services .services-list-tab .carousel-control.right {
    top: 110px;
    bottom: auto;
    right: 10px;
}

.carousel-control {
    width: 4%;
}

    .carousel-control.left, .carousel-control.right {
        margin-left: 15px;
        background-image: none;
    }


@media (max-width: 767px) {
    .carousel-inner .active.left {
        left: -100%;
    }

    .carousel-inner .next {
        left: 100%;
    }

    .carousel-inner .prev {
        left: -100%;
    }

    .active > div {
        display: none;
    }

        .active > div:first-child {
            display: block;
        }
}

@media (min-width: 767px) and (max-width: 992px ) {
    .carousel-inner .active.left {
        left: -50%;
    }

    .carousel-inner .next {
        left: 50%;
    }

    .carousel-inner .prev {
        left: -50%;
    }

    .active > div {
        display: none;
    }

        .active > div:first-child {
            display: block;
        }

            .active > div:first-child + div {
                display: block;
            }
}

@media (min-width: 992px ) {
    .carousel-inner .active.left {
        left: -25%;
    }

    .carousel-inner .next {
        left: 25%;
    }

    .carousel-inner .prev {
        left: -25%;
    }
}

/*==========================================================
TIMELINE/ NEWS FEED
============================================================*/
.scrollbot-scrollbar {
    height: 20px;
}

.timeline-back {
    /*background:#fff;*/
    float: left;
    padding: 0 40px;
}

/*end service page scroll*/

.timeline-wrapper .timeline-date,
.timeline-wrapper .panel-post-item .media-time,
.timeline-wrapper .panel-post-item::before,
.timeline-wrapper .panel-post-item.status::after,
.timeline-wrapper .panel-post-item.commented::after,
.timeline-wrapper .panel-post-item.pictures::after,
.timeline-wrapper .panel-post-item.twitter::after,
.timeline-wrapper .panel-post-item.twitter::after {
    display: none;
}

.timeline-wrapper {
    margin-left: 0;
    border: none;
}

.timeline-wrapper {
    padding-left: 7px;
}

.panel-post-item .form-control {
    border: 1px solid #3e7ce7;
    background: #38698c;
}

.post-date {
    padding: 2px 0;
}

    .post-date span {
    }

.timeline-scroolbar {
    height: 330px;
    overflow: auto;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: #43565c #a5dde4;
    -webkit-scroll-snap-destination: top;
    -ms-scroll-snap-destination: top;
    scroll-snap-destination: top;
}

    /* width */
    .timeline-scroolbar::-webkit-scrollbar {
        width: 7px;
    }

    /* Track */
    .timeline-scroolbar::-webkit-scrollbar-track {
        background: #a5dde4;
    }

    /* Handle */
    .timeline-scroolbar::-webkit-scrollbar-thumb {
        background: #43565c;
    }

.timeline-sidebar {
    margin-top: 1px;
    position: -webkit-sticky;
    position: sticky;
    -ms-flex-item-align: end;
    align-self: flex-end;
    top: 72px;
}

.timeline-option {
    left: -151px;
    -webkit-box-shadow: 1px 5px 17px -2px rgba(0, 0, 0, 0.44);
    box-shadow: 1px 5px 17px -2px rgba(0, 0, 0, 0.44);
}

.panel-post-item .collapse .media-list .media,
.panel-post-item .collapsing .media-list .media {
    background: #fff;
    float: left;
    border-top: 1px solid #d8d5d5;
}

.timeline-wrapper .panel-post-item {
    float: left;
}

.panel-post-item .panel-heading {
    padding: 15px 20px 8px 20px;
    border-bottom: 1px solid #ddd8d8;
    margin-bottom: 20px;
}

.timeline-wrapper .panel-post-item .panel-heading::before {
    display: none;
}

.create_post {
    background: #fff;
    margin-bottom: 25px;
    width: 100%;
    float: left;
}

.post_head {
    padding: 5px 20px;
    border-bottom: 1px solid #2574ab;
}

.post_body {
    padding: 10px 20px;
    border-bottom: 1px solid #2574ab;
}

.post_img {
    width: 47px;
}

.post_write {
}

    .post_write a {
        font-family: 'Roboto', sans-serif;
        cursor: auto;
        font-size: 17px;
        font-weight: 300;
        color: #989e9c;
        padding-top: 11px;
        float: left;
        width: 100%;
    }

.post_footer {
    padding: 10px 20px;
}

.post_option-list {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

    .post_option-list li {
        display: inline-block !important;
        padding: 9px 19px;
        background: #f0f0f0;
        font-size: 14px !important;
        margin: 0 4px !important;
        color: #000;
        border-radius: 20px;
    }

        .post_option-list li a {
            color: #000;
        }

/*==============================================================
  Like Reaction
=================================================================*/

.like-btn {
    font-weight: bold;
    color: #7f7f7f;
    position: relative;
    cursor: pointer;
    padding: 5px 5px 0 0;
}


.like-btn-default {
    background-image: url('/loginWeb/design1/img/facebook.png');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: -277px -446px;
}

.like-btn-comment {
    background-image: url('/loginWeb/design1/img/facebook.png');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: -263px -447px;
}

.like-btn-emo {
    display: inline-block;
    margin: 0 2px -3px 0;
    width: 15px;
    height: 16px;
}

.feelings-box {
    height: 65px;
    width: 309px;
    padding: 10px;
    position: absolute;
    top: -63px;
    left: -14px;
    -webkit-box-shadow: 1px 1px 2px #cccccc, -1px 0px 2px #eeeeee;
    box-shadow: 1px 1px 2px #cccccc, -1px 0px 2px #eeeeee;
    border-radius: 44px 44px;
    display: none;
    overflow: visible;
    background: #fff;
}

.feeling {
    list-style-type: none;
    cursor: pointer;
    display: inline-block;
    width: 48px;
    height: 48px;
    position: absolute;
    top: 8px;
    opacity: 0;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    -webkit-transition: opacity .5s ease-in-out 1s, top .07s ease-in-out 0s, -webkit-transform .07s ease-in-out 0s;
    transition: opacity .5s ease-in-out 1s, top .07s ease-in-out 0s, -webkit-transform .07s ease-in-out 0s;
    transition: opacity .5s ease-in-out 1s, transform .07s ease-in-out 0s, top .07s ease-in-out 0s;
    transition: opacity .5s ease-in-out 1s, transform .07s ease-in-out 0s, top .07s ease-in-out 0s, -webkit-transform .07s ease-in-out 0s;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center
}


/*
.like-btn:hover .feelings-box {
    display: block;
}
*/

/*
.like-btn:hover .feelings-box {
    display: block;
    -webkit-transform: scale(0.65);
    transform: scale(0.65);
    left: -40px;
    top: -20px;
}
*/

.like-btn:hover .feelings-box {
    display: block;
    -webkit-transform: scale(0.65);
    transform: scale(0.65);
    left: -40px;
    top: -70px;
}


.feeling-like {
    left: 10px;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    background-image: url(/design1/images/feelings_like.png);
}

.feeling-love {
    left: 68px;
    -webkit-transition-delay: .05s;
    transition-delay: .05s;
    background-image: url(/design1/images/feelings_love.png);
}

.feeling-haha {
    left: 126px;
    -webkit-transition-delay: .1s;
    transition-delay: .1s;
    background-image: url(/design1/images/feelings_haha.png);
}

.feeling-wow {
    left: 184px;
    -webkit-transition-delay: .15s;
    transition-delay: .15s;
    background-image: url(/design1/images/feelings_wow.png);
}

.feeling-sad {
    left: 242px;
    -webkit-transition-delay: .2s;
    transition-delay: .2s;
    background-image: url(/design1/images/feelings_sad.png);
}

.feeling-angry {
    left: 300px;
    -webkit-transition-delay: .25s;
    transition-delay: .25s;
    background-image: url('/loginWeb/design1/img/feelings_angry.png');
}

/*----------------------------------------------------------------------------------------------*/

.like-btn-5StarRating {
    background-image: url('/loginWeb/design1/img/5-Star-Rating.png');
    background-repeat: no-repeat;
    background-size: auto;
    /* background-position: -477px -546px;*/
    background-position: left bottom;
}

.rating-star {
    display: inline-block;
    margin: 0px 0px 0px 60;
    width: 140px;
    height: 17px;
}

.Qualityfeeling {
    list-style-type: none;
    cursor: pointer;
    display: inline-block;
    width: 48px;
    height: 48px;
    position: absolute;
    top: 8px;
    opacity: 0;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    -webkit-transition: opacity .5s ease-in-out 1s, top .07s ease-in-out 0s, -webkit-transform .07s ease-in-out 0s;
    transition: opacity .5s ease-in-out 1s, top .07s ease-in-out 0s, -webkit-transform .07s ease-in-out 0s;
    transition: opacity .5s ease-in-out 1s, transform .07s ease-in-out 0s, top .07s ease-in-out 0s;
    transition: opacity .5s ease-in-out 1s, transform .07s ease-in-out 0s, top .07s ease-in-out 0s, -webkit-transform .07s ease-in-out 0s;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}


.StarContainer1 {
    left: 10px;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    /*background-image: url('/loginWeb/design1/img/feelings_like.png');*/
}

.StarContainer2 {
    left: 68px;
    -webkit-transition-delay: .05s;
    transition-delay: .05s;
    /*background-image: url('/loginWeb/design1/img/feelings_love.png');*/
}

.StarContainer3 {
    left: 126px;
    -webkit-transition-delay: .1s;
    transition-delay: .1s;
    /*background-image: url('/loginWeb/design1/img/feelings_haha.png');*/
}

.StarContainer4 {
    left: 184px;
    -webkit-transition-delay: .15s;
    transition-delay: .15s;
    /* background-image: url('/loginWeb/design1/img/feelings_wow.png');*/
}

.StarContainer5 {
    left: 242px;
    -webkit-transition-delay: .2s;
    transition-delay: .2s;
    /*background-image: url('/loginWeb/design1/img/feelings_sad.png');*/
}


/*.feeling-Good {
  left: 68px;
  transition-delay: .05s;
  background-image: url('/loginWeb/design1/img/Excellent2.png');
}

.feeling-Average {
  left: 126px;
  transition-delay: .1s;
  background-image: url('/loginWeb/design1/img/Average.png');
}

.feeling-Poor {
  left: 184px;
  transition-delay: .15s;
  background-image: url('/loginWeb/design1/img/ratingSmil.png');
}

.feeling-VeryPoor {
  left: 242px;
  transition-delay: .2s;

  background-image: url('/loginWeb/design1/img/ratingSmil.png');
}*/





/*-------------------------------------------------------------------------------------------------*/


.like-btn:hover .feeling {
    opacity: 1;
    -webkit-animation-name: feeling_delay;
    animation-name: feeling_delay;
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
}

@-webkit-keyframes feeling_delay {
    0% {
        width: 48px;
        height: 48px;
        top: 60px;
    }

    48% {
        width: 56px;
        height: 56px;
        top: 5px;
    }

    100% {
        width: 48px;
        height: 48px;
        top: 8px;
    }
}

@keyframes feeling_delay {
    0% {
        width: 48px;
        height: 48px;
        top: 60px;
    }

    48% {
        width: 56px;
        height: 56px;
        top: 5px;
    }

    100% {
        width: 48px;
        height: 48px;
        top: 8px;
    }
}


.like-btn:hover .feeling-like {
    -webkit-animation-delay: 0s;
    animation-delay: 0s
}

.like-btn:hover .feeling-love {
    -webkit-animation-delay: .05s;
    animation-delay: .05s
}

.like-btn:hover .feeling-haha {
    -webkit-animation-delay: .1s;
    animation-delay: .1s
}

.like-btn:hover .feeling-wow {
    -webkit-animation-delay: .15s;
    animation-delay: .15s
}

.like-btn:hover .feeling-sad {
    -webkit-animation-delay: .2s;
    animation-delay: .2s
}

.like-btn:hover .feeling-angry {
    -webkit-animation-delay: .25s;
    animation-delay: .25s
}

.feeling:hover {
    -webkit-transform: scale(1.3, 1.3);
    transform: scale(1.3, 1.3);
    top: 2px
}



.feeling::before {
    display: inline-block;
    color: #ffffff;
    text-align: center;
    line-height: 17px;
    font-size: .7em;
    width: 80%;
    height: 17px;
    margin-left: 10%;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 20px;
    position: absolute;
    top: -25px;
    opacity: 0;
    -webkit-transition: opacity .2s ease-in-out 0s;
    transition: opacity .2s ease-in-out 0s;
}

.feeling:hover::before {
    opacity: 1
}

.feeling-like::before {
    content: 'Like'
}

.feeling-love::before {
    content: 'Love'
}

.feeling-haha::before {
    content: 'Haha'
}

.feeling-wow::before {
    content: 'Wow'
}


.feeling-sad::before {
    content: 'Sad'
}

.feeling-angry::before {
    content: 'Angry'
}

.like-stat {
    margin-top: 10px;
}


.like-btn-like {
    background-image: url('/loginWeb/design1/img/feeling-small.png');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: -17px -151px;
}

.like-btn-love {
    background-image: url('/loginWeb/design1/img/feeling-small.png');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 0 -168px;
}

.like-btn-haha {
    background-image: url('/loginWeb/design1/img/feeling-small.png');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 0 -151px;
}

.like-btn-wow {
    background-image: url('/loginWeb/design1/img/feeling-small.png');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: -17px -185px;
}

.like-btn-sad {
    background-image: url('/loginWeb/design1/img/feeling-small.png');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: -17px -168px;
}

.like-btn-angry {
    background-image: url('/loginWeb/design1/img/feeling-small.png');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: -17px -117px;
}

.like-btn-text-like {
    color: rgb(88, 144, 255);
}

.like-btn-text-wow,
.like-btn-text-haha,
.like-btn-text-sad {
    color: rgb(240, 186, 21)
}

.like-btn-text-love {
    color: rgb(242, 82, 104)
}

.like-btn-text-angry {
    color: rgb(247, 113, 75);
}

.like-emo > span {
    display: inline-block;
    margin: 0 -3px -3px 0px;
    width: 16px;
    height: 16px;
    border: 1px solid #EEE;
    border-radius: 50%;
}

.like-details {
    margin-left: 10px;
    color: #9197a3;
    font-size: 12px;
}

/*end*/

/*-------persoal profile-------*/

.hover-overly {
}

.activity-nav {
    min-height: auto !important
}

    .activity-nav ul {
        margin-top: 0;
    }

        .activity-nav ul li {
            margin: 0;
        }

            .activity-nav ul li.active a {
                background: #259dab !important;
                color: #fff !important;
            }

            .activity-nav ul li a {
                font-size: 12px;
                font-weight: 400;
                padding: 10px 15px;
                color: #fff !important;
            }

.message-pael {
    width: 100%;
    background: #f5f5f5;
    padding: 10px 6px;
    float: left;
    margin-bottom: 20px;
}

.icon-btn:hover {
    background: #fff;
}

.sand-btn {
    background: #2491ab;
    color: #fff;
}

    .sand-btn:hover {
        /*    background: #fff;*/
        background: #2491ab;
        color: #fff;
    }

.icon-btn {
    font-size: 12px;
    font-weight: 500;
}

    .icon-btn i {
        padding-right: 10px;
    }

.timeline-feed .timeline-back {
    padding: 0;
}

.list-inline > li {
    display: inline-block !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
}

/*=======================================media css============================================*/
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .container {
        width: 100%;
    }

    .menutoggle {
        left: 0;
    }

    .headerbar {
        margin-left: 0 !important;
    }

    .primary_nav_wrap {
        margin-left: 0;
    }

        .primary_nav_wrap ul a {
            background: transparent;
        }

            .primary_nav_wrap ul a:hover,
            .primary_nav_wrap ul a:focus {
                color: #98b4ec;
                font-weight: 600;
            }

    #flip-right-toggle {
        padding: 17px 20px;
    }

    .responsive_bread {
        margin-bottom: 2px;
        background-color: #384B51;
    }

    .header-middle {
        left: 0;
        right: 0;
    }

    .contentpanel_ {
        margin-top: 74px;
    }

    .primary_nav_wrap {
        width: 100%;
    }

    .header-right {
        padding-right: 0;
    }

    .headermenu li:nth-child(3) {
        margin: 0;
    }

    .headermenu li {
        padding: 0 5px;
    }

    .logo-responsive {
        width: auto;
        text-align: left;
    }

    .middle-header-icons1 {
        display: block;
    }

    .right-toggle #flip-right-toggle {
        padding: 17px 0;
        background: none;
    }

    .middle-header-icons1 .headermenu {
        position: relative;
        top: 6px;
        left: 20px;
    }

        .middle-header-icons1 .headermenu li {
        }

    /*------------news-feed/ timeline--------------*/
    .timeline-back {
        padding: 0;
    }

    .panel-post-item .panel-footer .list-inline > li,
    .panel-post-item .panel-footer .list-inline > li:first-child {
        padding: 0 7px;
    }

    .timeline-sidebar {
        position: relative;
        top: 0;
        float: left;
        margin-top: 20px;
    }

    .timeline-wrapper .panel-post-item {
        margin-top: 0;
        margin-bottom: 20px;
    }

    .like-btn-emo {
        display: none;
    }

    .panel-post-item .panel-footer {
        padding: 13px 10px;
        text-align: center;
    }

    .post_option-list {
        text-align: center;
    }

        .post_option-list li {
            margin-bottom: 10px;
        }

    .modal.in .modal-dialog {
        width: 87%;
    }

    .post_write .media,
    .post_write .media-body {
        overflow: visible;
    }

    /*.pagination > li > a, .pagination > li > span {
        z-index: 99;
    }*/
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
    /* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
    /* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
}

/**********
iPad 3
**********/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    /* Styles */
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    /* Styles */
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
    /* Styles */
}

/* Large screens ----------- */
@media (max-width:1299px) and (min-width:1200px) {
    .headerpanel .logopanel {
        width: 91px;
        left: -148px !important;
        background-color: #262b36;
        margin-left: 0 !important;
        background-color: transparent;
    }

    .headerbar {
        margin-left: 220px !important;
    }

    .searchpanel {
        left: 3px;
        width: 321px;
    }

    .leftpanel {
        /*z-index: 9999;*/
        top: 64px;
    }

    .primary_nav_wrap {
        margin-left: 384px !important;
    }

    .menutoggle {
        left: -218px;
    }

    .nav-quirk > li > a:hover {
    }

    .nav-quirk > li > a:hover,
    .nav-quirk > li > a:focus {
        color: #fff;
        background-color: #259dab;
        background-image: -webkit-gradient(linear, left top, right top, from(#259dab), to(#2574ab));
        background-image: linear-gradient(to right, #259dab 0%, #2574ab 100%);
        background-repeat: repeat-x;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff259dab', endColorstr='#ff2574ab', GradientType=1);
    }

        .nav-quirk > li > a:hover > i {
            color: #fff;
        }

    .primary_nav_wrap ul a {
        margin: 0 8px;
        padding: 0 22px;
    }

        .primary_nav_wrap ul a:hover,
        .primary_nav_wrap ul a:focus {
            color: #9F0;
        }

    .primary_nav_wrap ul {
        padding: 0;
    }

    .filter-serch .dropdown-menu > li > a:hover,
    .filter-serch .dropdown-menu > li > a:focus {
        background-color: #3b4354;
    }

    .primary_nav_wrap ul li:hover {
        background: transparent;
    }

    .headermenu > li {
        padding: 0 5px;
    }

        .headermenu > li .btn {
            height: 57px;
        }

    .searchpanel-23 .input-group .form-control {
        color: #000;
    }

    .searchpanel .input-group .form-control,
    .searchpanel .input-group .btn {
        background-color: #fff;
        color: #000;
    }

    .autocomplete-items div {
        max-width: 320px;
    }

    .headermenu .dropdown-menu {
        height: 94px;
    }

    .contentpanel_ {
        margin-top: 0 !important;
    }
}

/* iPhone 4 ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) {
    .container {
        width: 100%;
    }

    .menutoggle {
        left: 0;
    }

    .headerbar {
        margin-left: 0 !important;
    }

    .primary_nav_wrap {
        margin-left: 0;
    }

        .primary_nav_wrap ul a {
            background: transparent;
        }

            .primary_nav_wrap ul a:hover,
            .primary_nav_wrap ul a:focus {
                color: #98b4ec;
                font-weight: 600;
            }

    #flip-right-toggle {
        padding: 17px 20px;
    }

    .responsive_bread {
        margin-bottom: 2px;
        background-color: #384B51;
    }

    .header-middle {
        left: 0;
        right: 0;
    }

    .contentpanel_ {
        margin-top: 74px;
    }

    /*------------news-feed/ timeline--------------*/
    .timeline-back {
        padding: 0;
    }

    .panel-post-item .panel-footer .list-inline > li,
    .panel-post-item .panel-footer .list-inline > li:first-child {
        padding: 0 7px;
    }

    .timeline-sidebar {
        position: relative;
        top: 0;
        float: left;
        margin-top: 20px;
    }

    .timeline-wrapper .panel-post-item {
        margin-top: 0;
        margin-bottom: 20px;
    }

    .like-btn-emo {
        display: none;
    }

    .panel-post-item .panel-footer {
        padding: 13px 10px;
        text-align: left;
    }

    .post_option-list {
        text-align: center;
    }

        .post_option-list li {
            margin-bottom: 10px;
        }

    .modal.in .modal-dialog {
        width: 87%;
    }

    .post_write .media,
    .post_write .media-body {
        overflow: visible;
    }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) {
    .container {
        width: 100%;
    }


    .menutoggle {
        left: 0;
    }

    .headerbar {
        margin-left: 0 !important;
    }

    .primary_nav_wrap {
        margin-left: 0;
    }

        .primary_nav_wrap ul a {
            background: transparent;
        }

            .primary_nav_wrap ul a:hover,
            .primary_nav_wrap ul a:focus {
                color: #98b4ec;
                font-weight: 600;
            }

    #flip-right-toggle {
        padding: 17px 20px;
    }

    .responsive_bread {
        margin-bottom: 2px;
        background-color: #384B51;
    }

    .header-middle {
        left: 0;
        right: 0;
    }

    .contentpanel_ {
        margin-top: 74px;
    }

    .primary_nav_wrap {
        width: 100%;
    }

    .header-right {
        padding-right: 0;
    }

    .headermenu li:nth-child(3) {
        margin: 0;
    }

    .headermenu li {
        padding: 0 5px;
    }

    .logo-responsive {
        width: auto;
        text-align: left;
    }

    .middle-header-icons1 {
        display: block;
    }

    .right-toggle #flip-right-toggle {
        padding: 17px 0;
        background: none;
    }

    .middle-header-icons1 .headermenu {
        position: relative;
        top: 6px;
        left: 20px;
    }

        .middle-header-icons1 .headermenu li {
        }

    /*------------news-feed/ timeline--------------*/
    .timeline-back {
        padding: 0;
    }

    .panel-post-item .panel-footer .list-inline > li,
    .panel-post-item .panel-footer .list-inline > li:first-child {
        padding: 0 7px;
    }

    .timeline-sidebar {
        position: relative;
        top: 0;
        float: left;
        margin-top: 20px;
    }

    .timeline-wrapper .panel-post-item {
        margin-top: 0;
        margin-bottom: 20px;
    }

    .like-btn-emo {
        display: none;
    }

    .panel-post-item .panel-footer {
        padding: 13px 10px;
        text-align: center;
    }

    .post_option-list {
        text-align: center;
    }

        .post_option-list li {
            margin-bottom: 10px;
        }

    .modal.in .modal-dialog {
        width: 87%;
    }

    .post_write .media,
    .post_write .media-body {
        overflow: visible;
    }
}

/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) {
    .container {
        width: 100%;
    }

    .menutoggle {
        left: 0;
    }

    .headerbar {
        margin-left: 0 !important;
    }

    .primary_nav_wrap {
        margin-left: 0;
    }

        .primary_nav_wrap ul a {
            background: transparent;
        }

            .primary_nav_wrap ul a:hover,
            .primary_nav_wrap ul a:focus {
                color: #98b4ec;
                font-weight: 600;
            }

    #flip-right-toggle {
        padding: 17px 20px;
    }

    .responsive_bread {
        margin-bottom: 2px;
        background-color: #384B51;
    }

    .header-middle {
        left: 0;
        right: 0;
    }

    .contentpanel_ {
        margin-top: 74px;
    }

    /*------------news-feed/ timeline--------------*/
    .timeline-back {
        padding: 0;
    }

    .panel-post-item .panel-footer .list-inline > li,
    .panel-post-item .panel-footer .list-inline > li:first-child {
        padding: 0 7px;
    }

    .timeline-sidebar {
        position: relative;
        top: 0;
        float: left;
        margin-top: 20px;
    }

    .timeline-wrapper .panel-post-item {
        margin-top: 0;
        margin-bottom: 20px;
    }

    .like-btn-emo {
        display: none;
    }

    .panel-post-item .panel-footer {
        padding: 13px 10px;
        text-align: left;
    }

    .post_option-list {
        text-align: center;
    }

        .post_option-list li {
            margin-bottom: 10px;
        }

    .modal.in .modal-dialog {
        width: 87%;
    }

    .post_write .media,
    .post_write .media-body {
        overflow: visible;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) {
    .container {
        width: 100%;
    }

    .menutoggle {
        left: 0;
    }

    .headerbar {
        margin-left: 0 !important;
    }

    .primary_nav_wrap {
        margin-left: 0;
    }

        .primary_nav_wrap ul a {
            background: transparent;
        }

            .primary_nav_wrap ul a:hover,
            .primary_nav_wrap ul a:focus {
                color: #98b4ec;
                font-weight: 600;
            }

    #flip-right-toggle {
        padding: 17px 20px;
    }

    .responsive_bread {
        margin-bottom: 2px;
        background-color: #384B51;
    }

    .header-middle {
        left: 0;
        right: 0;
    }

    .contentpanel_ {
        margin-top: 74px;
    }

    .primary_nav_wrap {
        width: 100%;
    }

    .header-right {
        padding-right: 0;
    }

    .headermenu li:nth-child(3) {
        margin: 0;
    }

    .headermenu li {
        padding: 0 5px;
    }

    .logo-responsive {
        width: auto;
        text-align: left;
    }

    .middle-header-icons1 {
        display: block;
    }

    .right-toggle #flip-right-toggle {
        padding: 17px 0;
        background: none;
    }

    .middle-header-icons1 .headermenu {
        position: relative;
        top: 6px;
        left: 20px;
    }

        .middle-header-icons1 .headermenu li {
        }

    /*------------news-feed/ timeline--------------*/
    .timeline-back {
        padding: 0;
    }

    .panel-post-item .panel-footer .list-inline > li,
    .panel-post-item .panel-footer .list-inline > li:first-child {
        padding: 0 7px;
    }

    .timeline-sidebar {
        position: relative;
        top: 0;
        float: left;
        margin-top: 20px;
    }

    .timeline-wrapper .panel-post-item {
        margin-top: 0;
        margin-bottom: 20px;
    }

    .like-btn-emo {
        display: none;
    }

    .panel-post-item .panel-footer {
        padding: 13px 10px;
        text-align: center;
    }

    .post_option-list {
        text-align: center;
    }

        .post_option-list li {
            margin-bottom: 10px;
        }

    .modal.in .modal-dialog {
        width: 87%;
    }

    .post_write .media,
    .post_write .media-body {
        overflow: visible;
    }
}

/* iPhone 6 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) {
    .container {
        width: 100%;
    }

    .menutoggle {
        left: 0;
    }

    .headerbar {
        margin-left: 0 !important;
    }

    .primary_nav_wrap {
        margin-left: 0;
    }

        .primary_nav_wrap ul a {
            background: transparent;
        }

            .primary_nav_wrap ul a:hover,
            .primary_nav_wrap ul a:focus {
                color: #98b4ec;
                font-weight: 600;
            }

    #flip-right-toggle {
        padding: 17px 20px;
    }

    .responsive_bread {
        margin-bottom: 2px;
        background-color: #384B51;
    }

    .header-middle {
        left: 0;
        right: 0;
    }

    .contentpanel_ {
        margin-top: 74px;
    }

    /*------------news-feed/ timeline--------------*/
    .timeline-back {
        padding: 0;
    }

    .panel-post-item .panel-footer .list-inline > li,
    .panel-post-item .panel-footer .list-inline > li:first-child {
        padding: 0 7px;
    }

    .timeline-sidebar {
        position: relative;
        top: 0;
        float: left;
        margin-top: 20px;
    }

    .timeline-wrapper .panel-post-item {
        margin-top: 0;
        margin-bottom: 20px;
    }

    .like-btn-emo {
        display: none;
    }

    .panel-post-item .panel-footer {
        padding: 13px 10px;
        text-align: left;
    }

    .post_option-list {
        text-align: center;
    }

        .post_option-list li {
            margin-bottom: 10px;
        }

    .modal.in .modal-dialog {
        width: 87%;
    }

    .post_write .media,
    .post_write .media-body {
        overflow: visible;
    }
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) {
    .container {
        width: 100%;
    }

    .menutoggle {
        left: 0;
    }

    .headerbar {
        margin-left: 0 !important;
    }

    .primary_nav_wrap {
        margin-left: 0;
    }

        .primary_nav_wrap ul a {
            background: transparent;
        }

            .primary_nav_wrap ul a:hover,
            .primary_nav_wrap ul a:focus {
                color: #98b4ec;
                font-weight: 600;
            }

    #flip-right-toggle {
        padding: 17px 20px;
    }

    .responsive_bread {
        margin-bottom: 2px;
        background-color: #384B51;
    }

    .header-middle {
        left: 0;
        right: 0;
    }

    .contentpanel_ {
        margin-top: 74px;
    }

    .primary_nav_wrap {
        width: 100%;
    }

    .header-right {
        padding-right: 0;
    }

    .headermenu li:nth-child(3) {
        margin: 0;
    }

    .headermenu li {
        padding: 0 5px;
    }

    .logo-responsive {
        width: auto;
        text-align: left;
    }

    .middle-header-icons1 {
        display: block;
    }

    .right-toggle #flip-right-toggle {
        padding: 17px 0;
        background: none;
    }

    .middle-header-icons1 .headermenu {
        position: relative;
        top: 6px;
        left: 20px;
    }

        .middle-header-icons1 .headermenu li {
        }

    /*------------news-feed/ timeline--------------*/
    .timeline-back {
        padding: 0;
    }

    .panel-post-item .panel-footer .list-inline > li,
    .panel-post-item .panel-footer .list-inline > li:first-child {
        padding: 0 7px;
    }

    .timeline-sidebar {
        position: relative;
        top: 0;
        float: left;
        margin-top: 20px;
    }

    .timeline-wrapper .panel-post-item {
        margin-top: 0;
        margin-bottom: 20px;
    }

    .like-btn-emo {
        display: none;
    }

    .panel-post-item .panel-footer {
        padding: 13px 10px;
        text-align: center;
    }

    .post_option-list {
        text-align: center;
    }

        .post_option-list li {
            margin-bottom: 10px;
        }

    .modal.in .modal-dialog {
        width: 87%;
    }

    .post_write .media,
    .post_write .media-body {
        overflow: visible;
    }
}

/* iPhone 6+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) {
    .container {
        width: 100%;
    }

    .menutoggle {
        left: 0;
    }

    .headerbar {
        margin-left: 0 !important;
    }

    .primary_nav_wrap {
        margin-left: 0;
    }

        .primary_nav_wrap ul a {
            background: transparent;
        }

            .primary_nav_wrap ul a:hover,
            .primary_nav_wrap ul a:focus {
                color: #98b4ec;
                font-weight: 600;
            }

    #flip-right-toggle {
        padding: 17px 20px;
    }

    .responsive_bread {
        margin-bottom: 2px;
        background-color: #384B51;
    }

    .header-middle {
        left: 0;
        right: 0;
    }

    .contentpanel_ {
        margin-top: 74px;
    }

    /*------------news-feed/ timeline--------------*/
    .timeline-back {
        padding: 0;
    }

    .panel-post-item .panel-footer .list-inline > li,
    .panel-post-item .panel-footer .list-inline > li:first-child {
        padding: 0 7px;
    }

    .timeline-sidebar {
        position: relative;
        top: 0;
        float: left;
        margin-top: 20px;
    }

    .timeline-wrapper .panel-post-item {
        margin-top: 0;
        margin-bottom: 20px;
    }

    .like-btn-emo {
        display: none;
    }

    .panel-post-item .panel-footer {
        padding: 13px 10px;
        text-align: left;
    }

    .post_option-list {
        text-align: center;
    }

        .post_option-list li {
            margin-bottom: 10px;
        }

    .modal.in .modal-dialog {
        width: 87%;
    }

    .post_write .media,
    .post_write .media-body {
        overflow: visible;
    }
}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) {
    .container {
        width: 100%;
    }

    .menutoggle {
        left: 0;
    }

    .headerbar {
        margin-left: 0 !important;
    }

    .primary_nav_wrap {
        margin-left: 0;
    }

        .primary_nav_wrap ul a {
            background: transparent;
        }

            .primary_nav_wrap ul a:hover,
            .primary_nav_wrap ul a:focus {
                color: #98b4ec;
                font-weight: 600;
            }

    #flip-right-toggle {
        padding: 17px 20px;
    }

    .responsive_bread {
        margin-bottom: 2px;
        background-color: #384B51;
    }

    .header-middle {
        left: 0;
        right: 0;
    }

    .contentpanel_ {
        margin-top: 74px;
    }

    .primary_nav_wrap {
        width: 100%;
    }

    .header-right {
        padding-right: 0;
    }

    .headermenu li:nth-child(3) {
        margin: 0;
    }

    .headermenu li {
        padding: 0 5px;
    }

    .logo-responsive {
        width: auto;
        text-align: left;
    }

    .middle-header-icons1 {
        display: block;
    }

    .right-toggle #flip-right-toggle {
        padding: 17px 0;
        background: none;
    }

    .middle-header-icons1 .headermenu {
        position: relative;
        top: 6px;
        left: 20px;
    }

        .middle-header-icons1 .headermenu li {
        }

    /*------------news-feed/ timeline--------------*/
    .timeline-back {
        padding: 0;
    }

    .panel-post-item .panel-footer .list-inline > li,
    .panel-post-item .panel-footer .list-inline > li:first-child {
        padding: 0 7px;
    }

    .timeline-sidebar {
        position: relative;
        top: 0;
        float: left;
        margin-top: 20px;
    }

    .timeline-wrapper .panel-post-item {
        margin-top: 0;
        margin-bottom: 20px;
    }

    .like-btn-emo {
        display: none;
    }

    .panel-post-item .panel-footer {
        padding: 13px 10px;
        text-align: center;
    }

    .post_option-list {
        text-align: center;
    }

        .post_option-list li {
            margin-bottom: 10px;
        }

    .modal.in .modal-dialog {
        width: 87%;
    }

    .post_write .media,
    .post_write .media-body {
        overflow: visible;
    }
}

/* Samsung Galaxy S3 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) {
    .container {
        width: 100%;
    }

    .menutoggle {
        left: 0;
    }

    .headerbar {
        margin-left: 0 !important;
    }

    .primary_nav_wrap {
        margin-left: 0;
    }

        .primary_nav_wrap ul a {
            background: transparent;
        }

            .primary_nav_wrap ul a:hover,
            .primary_nav_wrap ul a:focus {
                color: #98b4ec;
                font-weight: 600;
            }

    #flip-right-toggle {
        padding: 17px 20px;
    }

    .responsive_bread {
        margin-bottom: 2px;
        background-color: #384B51;
    }

    .header-middle {
        left: 0;
        right: 0;
    }

    .contentpanel_ {
        margin-top: 74px;
    }

    /*------------news-feed/ timeline--------------*/
    .timeline-back {
        padding: 0;
    }

    .panel-post-item .panel-footer .list-inline > li,
    .panel-post-item .panel-footer .list-inline > li:first-child {
        padding: 0 7px;
    }

    .timeline-sidebar {
        position: relative;
        top: 0;
        float: left;
        margin-top: 20px;
    }

    .timeline-wrapper .panel-post-item {
        margin-top: 0;
        margin-bottom: 20px;
    }

    .like-btn-emo {
        display: none;
    }

    .panel-post-item .panel-footer {
        padding: 13px 10px;
        text-align: left;
    }

    .post_option-list {
        text-align: center;
    }

        .post_option-list li {
            margin-bottom: 10px;
        }

    .modal.in .modal-dialog {
        width: 87%;
    }

    .post_write .media,
    .post_write .media-body {
        overflow: visible;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) {
    .container {
        width: 100%;
    }

    .menutoggle {
        left: 0;
    }

    .headerbar {
        margin-left: 0 !important;
    }

    .primary_nav_wrap {
        margin-left: 0;
    }

        .primary_nav_wrap ul a {
            background: transparent;
        }

            .primary_nav_wrap ul a:hover,
            .primary_nav_wrap ul a:focus {
                color: #98b4ec;
                font-weight: 600;
            }

    #flip-right-toggle {
        padding: 17px 20px;
    }

    .responsive_bread {
        margin-bottom: 2px;
        background-color: #384B51;
    }

    .header-middle {
        left: 0;
        right: 0;
    }

    .contentpanel_ {
        margin-top: 74px;
    }

    .primary_nav_wrap {
        width: 100%;
    }

    .header-right {
        padding-right: 0;
    }

    .headermenu li:nth-child(3) {
        margin: 0;
    }

    .headermenu li {
        padding: 0 5px;
    }

    .logo-responsive {
        width: auto;
        text-align: left;
    }

    .middle-header-icons1 {
        display: block;
    }

    .right-toggle #flip-right-toggle {
        padding: 17px 0;
        background: none;
    }

    .middle-header-icons1 .headermenu {
        position: relative;
        top: 6px;
        left: 20px;
    }

        .middle-header-icons1 .headermenu li {
        }

    /*------------news-feed/ timeline--------------*/
    .timeline-back {
        padding: 0;
    }

    .panel-post-item .panel-footer .list-inline > li,
    .panel-post-item .panel-footer .list-inline > li:first-child {
        padding: 0 7px;
    }

    .timeline-sidebar {
        position: relative;
        top: 0;
        float: left;
        margin-top: 20px;
    }

    .timeline-wrapper .panel-post-item {
        margin-top: 0;
        margin-bottom: 20px;
    }

    .like-btn-emo {
        display: none;
    }

    .panel-post-item .panel-footer {
        padding: 13px 10px;
        text-align: center;
    }

    .post_option-list {
        text-align: center;
    }

        .post_option-list li {
            margin-bottom: 10px;
        }

    .modal.in .modal-dialog {
        width: 87%;
    }

    .post_write .media,
    .post_write .media-body {
        overflow: visible;
    }
}

/* Samsung Galaxy S4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) {
    .menutoggle {
        left: 0;
    }

    .headerbar {
        margin-left: 0 !important;
    }

    .primary_nav_wrap {
        margin-left: 0;
    }

        .primary_nav_wrap ul a {
            background: transparent;
        }

            .primary_nav_wrap ul a:hover,
            .primary_nav_wrap ul a:focus {
                color: #98b4ec;
                font-weight: 600;
            }

    #flip-right-toggle {
        padding: 17px 20px;
    }

    .responsive_bread {
        margin-bottom: 2px;
        background-color: #384B51;
    }

    .header-middle {
        left: 0;
        right: 0;
    }

    .contentpanel_ {
        margin-top: 74px;
    }

    /*------------news-feed/ timeline--------------*/
    .timeline-back {
        padding: 0;
    }

    .panel-post-item .panel-footer .list-inline > li,
    .panel-post-item .panel-footer .list-inline > li:first-child {
        padding: 0 7px;
    }

    .timeline-sidebar {
        position: relative;
        top: 0;
        float: left;
        margin-top: 20px;
    }

    .timeline-wrapper .panel-post-item {
        margin-top: 0;
        margin-bottom: 20px;
    }

    .like-btn-emo {
        display: none;
    }

    .panel-post-item .panel-footer {
        padding: 13px 10px;
        text-align: left;
    }

    .post_option-list {
        text-align: center;
    }

        .post_option-list li {
            margin-bottom: 10px;
        }

    .modal.in .modal-dialog {
        width: 87%;
    }

    .post_write .media,
    .post_write .media-body {
        overflow: visible;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) {
    .menutoggle {
        left: 0;
    }

    .headerbar {
        margin-left: 0 !important;
    }

    .primary_nav_wrap {
        margin-left: 0;
    }

        .primary_nav_wrap ul a {
            background: transparent;
        }

            .primary_nav_wrap ul a:hover,
            .primary_nav_wrap ul a:focus {
                color: #98b4ec;
                font-weight: 600;
            }

    #flip-right-toggle {
        padding: 17px 20px;
    }

    .responsive_bread {
        margin-bottom: 2px;
        background-color: #384B51;
    }

    .header-middle {
        left: 0;
        right: 0;
    }

    .contentpanel_ {
        margin-top: 74px;
    }

    .primary_nav_wrap {
        width: 100%;
    }

    .header-right {
        padding-right: 0;
    }

    .headermenu li:nth-child(3) {
        margin: 0;
    }

    .headermenu li {
        padding: 0 5px;
    }

    .logo-responsive {
        width: auto;
        text-align: left;
    }

    .middle-header-icons1 {
        display: block;
    }

    .right-toggle #flip-right-toggle {
        padding: 17px 0;
        background: none;
    }

    .middle-header-icons1 .headermenu {
        position: relative;
        top: 6px;
        left: 20px;
    }

        .middle-header-icons1 .headermenu li {
        }

    /*------------news-feed/ timeline--------------*/
    .timeline-back {
        padding: 0;
    }

    .panel-post-item .panel-footer .list-inline > li,
    .panel-post-item .panel-footer .list-inline > li:first-child {
        padding: 0 7px;
    }

    .timeline-sidebar {
        position: relative;
        top: 0;
        float: left;
        margin-top: 20px;
    }

    .timeline-wrapper .panel-post-item {
        margin-top: 0;
        margin-bottom: 20px;
    }

    .like-btn-emo {
        display: none;
    }

    .panel-post-item .panel-footer {
        padding: 13px 10px;
        text-align: center;
    }

    .post_option-list {
        text-align: center;
    }

        .post_option-list li {
            margin-bottom: 10px;
        }

    .modal.in .modal-dialog {
        width: 87%;
    }

    .post_write .media,
    .post_write .media-body {
        overflow: visible;
    }
}

/* Samsung Galaxy S5 ----------- */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) {
    .menutoggle {
        left: 0;
    }

    .headerbar {
        margin-left: 0 !important;
    }

    .primary_nav_wrap {
        margin-left: 0;
    }

        .primary_nav_wrap ul a {
            background: transparent;
        }

            .primary_nav_wrap ul a:hover,
            .primary_nav_wrap ul a:focus {
                color: #98b4ec;
                font-weight: 600;
            }

    #flip-right-toggle {
        padding: 17px 20px;
    }

    .responsive_bread {
        margin-bottom: 2px;
        background-color: #384B51;
    }

    .header-middle {
        left: 0;
        right: 0;
    }

    .contentpanel_ {
        margin-top: 74px;
    }

    /*------------news-feed/ timeline--------------*/
    .timeline-back {
        padding: 0;
    }

    .panel-post-item .panel-footer .list-inline > li,
    .panel-post-item .panel-footer .list-inline > li:first-child {
        padding: 0 7px;
    }

    .timeline-sidebar {
        position: relative;
        top: 0;
        float: left;
        margin-top: 20px;
    }

    .timeline-wrapper .panel-post-item {
        margin-top: 0;
        margin-bottom: 20px;
    }

    .like-btn-emo {
        display: none;
    }

    .panel-post-item .panel-footer {
        padding: 13px 10px;
        text-align: left;
    }

    .post_option-list {
        text-align: center;
    }

        .post_option-list li {
            margin-bottom: 10px;
        }

    .modal.in .modal-dialog {
        width: 87%;
    }

    .post_write .media,
    .post_write .media-body {
        overflow: visible;
    }
}

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) {
    .menutoggle {
        left: 0;
    }

    .headerbar {
        margin-left: 0 !important;
    }

    .primary_nav_wrap {
        margin-left: 0;
    }

        .primary_nav_wrap ul a {
            background: transparent;
        }

            .primary_nav_wrap ul a:hover,
            .primary_nav_wrap ul a:focus {
                color: #98b4ec;
                font-weight: 600;
            }

    #flip-right-toggle {
        padding: 17px 20px;
    }

    .responsive_bread {
        margin-bottom: 2px;
        background-color: #384B51;
    }

    .header-middle {
        left: 0;
        right: 0;
    }

    .contentpanel_ {
        margin-top: 74px;
    }

    .primary_nav_wrap {
        width: 100%;
    }

    .header-right {
        padding-right: 0;
    }

    .headermenu li:nth-child(3) {
        margin: 0;
    }

    .headermenu li {
        padding: 0 5px;
    }

    .logo-responsive {
        width: auto;
        text-align: left;
    }

    .middle-header-icons1 {
        display: block;
    }

    .right-toggle #flip-right-toggle {
        padding: 17px 0;
        background: none;
    }

    .middle-header-icons1 .headermenu {
        position: relative;
        top: 6px;
        left: 20px;
    }

        .middle-header-icons1 .headermenu li {
        }

    /*------------news-feed/ timeline--------------*/
    .timeline-back {
        padding: 0;
    }

    .panel-post-item .panel-footer .list-inline > li,
    .panel-post-item .panel-footer .list-inline > li:first-child {
        padding: 0 7px;
    }

    .timeline-sidebar {
        position: relative;
        top: 0;
        float: left;
        margin-top: 20px;
    }

    .timeline-wrapper .panel-post-item {
        margin-top: 0;
        margin-bottom: 20px;
    }

    .like-btn-emo {
        display: none;
    }

    .panel-post-item .panel-footer {
        padding: 13px 10px;
        text-align: center;
    }

    .post_option-list {
        text-align: center;
    }

        .post_option-list li {
            margin-bottom: 10px;
        }

    .modal.in .modal-dialog {
        width: 87%;
    }

    .post_write .media,
    .post_write .media-body {
        overflow: visible;
    }
}

/* Samsung Galaxy note ----------- */
@media only screen and (max-width: 800px) and (orientation : landscape) {
}

@media only screen and (max-width: 800px) and (orientation : portrait) {
    .container {
        width: 100%;
    }

    .menutoggle {
        left: 0;
    }

    .headerbar {
        margin-left: 0 !important;
    }

    .primary_nav_wrap {
        margin-left: 0;
    }

        .primary_nav_wrap ul a {
            background: transparent;
        }

            .primary_nav_wrap ul a:hover,
            .primary_nav_wrap ul a:focus {
                color: #98b4ec;
                font-weight: 600;
            }

    #flip-right-toggle {
        padding: 17px 20px;
    }

    .responsive_bread {
        margin-bottom: 2px;
        background-color: #384B51;
    }

    .header-middle {
        left: 0;
        right: 0;
        z-index: 99999;
    }

    .contentpanel_ {
        margin-top: 74px;
    }

    .primary_nav_wrap {
        width: 100%;
    }

    .header-right {
        padding-right: 0;
    }

    .headermenu li:nth-child(3) {
        margin: 0;
    }

    .headermenu li {
        padding: 0 5px;
    }

    .logo-responsive {
        width: auto;
        text-align: left;
    }

    .middle-header-icons1 {
        display: block;
    }

    .right-toggle #flip-right-toggle {
        padding: 17px 0;
        background: none;
    }

    .middle-header-icons1 .headermenu {
        position: relative;
        top: 6px;
        left: 20px;
    }

        .middle-header-icons1 .headermenu li {
        }

    .post_option-list {
        text-align: center;
    }

        .post_option-list li {
            margin-bottom: 10px;
        }
}

/*=======================================//end css============================================*/

.searchEmployees input {
    height: 30px;
}

.whitePanel p,
.whitePanel h4 {
    margin: 0px;
}

.employeeNumberTotal {
    padding-bottom: 10px;
}

.whitePanel {
    background: #fff;
    padding: 15px 10px 15px 10px;
    margin: 10px 0px;
    position: relative;
}

.editModule {
    position: absolute;
    top: 30px;
    right: 0px;
    display: inline-block;
    background: #1e93ae;
    font-size: 20px;
    z-index: 99;
    padding: 8px 16px;
    border-radius: 5px 0px 0px 5px;
    color: #fff;
}

    .editModule::before {
        content: normal;
        display: none;
    }

    .editModule:hover,
    .editModule:focus {
        color: #fff;
    }

.employeeList {
    display: inline-block;
    width: calc(33% - 10px);
    margin: 0px 5px;
    text-align: left;
}

    .employeeList ul {
        padding: 0px;
    }

        .employeeList ul li {
            list-style: none;
            padding: 5px 0px;
        }

            .employeeList ul li a {
                display: block;
                height: 15px;
            }



            .employeeList ul li p {
                padding-bottom: 5px;
            }

                .employeeList ul li p span,
                .progress > p span {
                    display: inline-block;
                    padding-right: 5px;
                    border-right: 1px solid #555;
                    margin-right: 5px;
                }


            .employeeList ul li:nth-child(1) a {
                background: #6c3c13;
            }

            .employeeList ul li:nth-child(2) a {
                background: #995941;
                width: 80%;
            }

            .employeeList ul li:nth-child(3) a {
                background: #a17053;
                width: 60%;
            }

            .employeeList ul li:nth-child(4) a {
                background: #c4825b;
                width: 40%;
            }

            .employeeList ul li:nth-child(5) a {
                background: #ccb266;
                width: 30%;
            }

            .employeeList ul li:nth-child(6) a {
                background: #ddba54;
                width: 35%;
            }

.addSkill {
    margin: 0px;
    padding: 10px 0px;
    font-size: 13px;
    color: #333;
    font-weight: 600;
}

    .addSkill a {
        font-weight: 400;
    }

.skillHolder {
    padding: 10px;
    border: 1px solid #eee;
    margin-top: 10px;
}

    .skillHolder .progress-bar-striped {
        background-image: none;
    }

.recomendedJobs {
    position: relative;
}

    .recomendedJobs ul {
        padding: 0px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

        .recomendedJobs ul li {
            list-style: none;
            display: inline-block;
            width: calc(33% - 10px);
            border: 1px solid #eee;
            padding: 10px;
            vertical-align: top;
            margin: 6px 5px;
        }

.companyLogo {
    width: 50px;
}

.jobRoll {
    padding-top: 10px;
}

.companyName {
    padding-top: 5px;
    font-size: 13px;
}

.jobDescription {
    padding: 10px 0px;
}


.matchedAlert {
    padding-top: 20px;
    position: relative;
    padding-bottom: 10px;
}

    .matchedAlert img {
        width: 15px;
        margin-right: 5px;
    }

    .matchedAlert::before {
        content: "";
        position: absolute;
        background: #ccc;
        height: 1px;
        width: 30px;
        bottom: 0px;
        left: -5px;
    }

.jobHeading {
    font-size: 18px;
    padding-left: 6px;
}

    .jobHeading span {
        display: block;
        /*    color: #b8b8b8;*/
        color: #fff;
        font-size: 12px;
        font-weight: 700;
        text-transform: capitalize;
        padding: 5px 0px;
    }


.recomendedJobs ul li h6 {
    color: #ccc;
    font-weight: 300;
}


.recomendedJobs .slick-arrow {
    position: absolute;
    top: -25px;
    background: none;
    border: none;
}

    .recomendedJobs .slick-arrow:focus {
        -webkit-box-shadow: none;
        box-shadow: none;
        outline: none;
    }

.recomendedJobs .slick-prev {
    right: 60px;
}

.recomendedJobs .slick-next {
    right: 10px;
}


.aboutSec p {
    padding-bottom: 10px;
}

.currentList {
    background: rgba(0, 0, 0, 0.5);
    font-weight: 700;
}

.aboutSec > .secBanner + h6 {
    font-size: 18px;
    color: #aaa;
    text-transform: uppercase;
}


#aboutForm {
    max-width: 360px;
    margin: auto;
    display: none;
}

    #aboutForm > div {
        padding: 0px 5px;
    }

        #aboutForm > div textarea {
            height: 150px;
        }

.workDetails {
    max-width: 600px;
    padding-left: 0px;
    padding-top: 20px;
}

    .workDetails li {
        list-style: none;
        padding-bottom: 5px;
    }

        .workDetails li span {
            display: inline-block;
            width: calc(100% - 200px);
        }


.locations {
    /*    background: #407295;*/
    background: #555657;
    padding: 20px;
    margin-top: 20px;
    position: relative;
    overflow: hidden;
}

.places {
    width: 360px;
    padding: 5px;
    margin: 0px;
    display: inline-block;
    position: relative;
    z-index: 99;
    vertical-align: top;
    overflow: auto;
    height: 345px;
}


    /*
.places li {
    list-style: none;
    display: inline-block;
    border: 1px solid rgba(255, 255, 255, 0.41);
    width: calc(50% - 2px);
    margin: -1px -2px;
}
*/

    .places li {
        list-style: none;
        display: inline-block;
        border: 1px solid rgba(255, 255, 255, 0.41);
        width: calc(50% - 14px);
        margin: 4px 2px;
    }


        .places li a {
            display: block;
            color: #fff;
            text-align: center;
            height: 160px;
            line-height: 160px;
            z-index: 999999;
            position: relative;
        }

.locations > .back {
    width: 130%;
    height: 130%;
}


.btnWhiteLine {
    color: #fff;
    border: 1px solid #fff;
    padding: 10px 30px;
}

.industriesHolder .secBanner a {
    color: #fff;
}

.settingsInd {
    font-size: 16px;
    margin-left: 15px;
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    transition: .5s;
    ;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

    .settingsInd:hover,
    .settingsInd:focus {
        color: #fff;
        /* letter-spacing: 1px; */
    }

.locations > div {
    display: inline-block;
    width: calc(100% - 365px);
    vertical-align: top;
    position: relative;
    z-index: 99;
}

.placesHolder {
    display: inline-block;
    width: 345px;
    margin-right: 10px;
}

.locations > div h4 {
    color: #fff;
    font-size: 60px;
}


.locations > div a {
    display: inline-block;
    /*    background: #333;*/
    background: #356c93;
    color: #fff;
    padding: 15px 30px;
    font-size: 14px;
    margin-top: 20px;
}

.locationDetails {
    /*    padding: 25px;*/
}

.addressReturn:last-child {
    border-bottom: none;
    padding-bottom: 0px;
}

.addressReturn h4,
.countryPlaces {
    display: inline-block;
    vertical-align: top;
}

.addressReturn {
    padding: 15px 0px;
    /*    border-bottom: 1px solid #eee;*/
}

    .addressReturn h4 {
        width: 200px;
        font-size: 24px;
        position: relative;
        color: #326da1;
    }

        .addressReturn h4::before {
            content: "\f0ac";
            font-family: fontawesome;
            color: #527ea5;
            margin-right: 6px;
        }




.countryPlaces {
    width: calc(100% - 204px);
    padding-left: 10px;
}

    .countryPlaces li {
        list-style: none;
        display: inline-block;
        width: 180px;
        padding: 0px 10px;
        position: relative;
    }

        .countryPlaces li::before {
            content: "\f0b1";
            font-size: 11px;
            font-family: fontawesome;
            position: absolute;
            top: 4px;
            left: -8px;
            color: #bcb9b9;
        }

        .countryPlaces li h6 {
            font-weight: 400;
            font-size: 13px;
            /*    color: #c8c5c5;*/
            color: #fff;
        }

        .countryPlaces li p {
            font-weight: 700;
            font-size: 16px;
            padding-bottom: 0px;
            color: #fff;
        }

.industriesList .partner {
    width: 270px;
}

.partnerList {
    position: relative;
}

.industriesHolder .partnerList .slick-arrow {
    top: 0px;
    position: absolute;
    right: 0px;
    background: #fff;
    border: none;
}

    .industriesHolder .partnerList .slick-arrow:focus {
        -webkit-box-shadow: none;
        box-shadow: none;
        outline: none;
    }

.industriesHolder .partnerList .slick-next {
    right: 10px;
}

.industriesHolder .partnerList .slick-prev {
    right: 70px;
}

.industriesHolder .partnerList {
    margin-top: 20px;
}

.industriesHolder > ul {
    -webkit-column-count: 2;
    column-count: 2;
    padding-left: 0px;
    padding-top: 10px;
}

    .industriesHolder > ul li {
        list-style: none;
        position: relative;
    }

        .industriesHolder > ul li::before {
            content: "\f08d";
            font-family: fontawesome;
            margin-right: 5px;
            color: #4376ac;
        }


        .industriesHolder > ul li a {
            display: inline-block;
            font-size: 14px;
            padding: 7px 0px;
            color: #4f99e5;
            text-transform: capitalize;
            text-align: center;
        }

            .industriesHolder > ul li a img {
                display: inline-block;
                width: 30px;
                margin-bottom: 5px;
                opacity: .7;
            }

.whitePanel > h4 {
    font-size: 18px;
}

.allInds {
    font-size: 16px;
    color: #333;
    position: relative;
}

    .allInds::before {
        content: "\f178";
        font-family: fontawesome;
        margin-right: 10px;
    }

.companies {
    margin-top: 30px;
    overflow: auto;
    max-height: 600px;
}

    .companies ul {
        padding: 0px;
        -webkit-column-count: 3;
        column-count: 3;
    }

        .companies ul li {
            list-style: none;
            display: inline-block;
            width: 100%;
            background: #eee;
            margin: 5px 0px;
            padding: 30px;
        }

            .companies ul li h4 {
                padding-bottom: 10px;
            }

            .companies ul li p {
                padding-bottom: 40px;
            }

            .companies ul li a {
                display: inline-block;
                width: 30px;
                height: 30px;
                line-height: 30px;
                text-align: center;
                border-radius: 150px;
                border: 1px solid #186582;
            }

.pie {
    display: inline-block;
    width: calc(33% - 20px);
    /*    width: calc(50% - 20px);*/
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    margin: 9px;
}

.dashboard > h4 {
    padding-bottom: 10px;
}

/*
.pie svg{
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}
*/

.pie > div > div {
    background: #eee;
}

.viewAllJob i {
    font-size: 36px;
}

.viewAllJob p {
    padding: 10px 0px 20px 0px;
}

.viewAllJob a {
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid #333;
}

div[dir="ltr"] {
    margin: auto;
}

@media(max-width:1199px) {
    .pie {
        width: calc(50% - 20px);
    }
}

@media(max-width:991px) {
    .locations > div h4 {
        font-size: 40px;
    }

    .companies ul {
        -webkit-column-count: 2;
        column-count: 2;
    }
}


@media(max-width:767px) {

    .companies ul {
        -webkit-column-count: 1;
        column-count: 1;
    }

    .companies ul {
        padding: 0px 10px 0px 0px;
    }

    .pie {
        display: block;
        width: 100%;
    }

    .companies ul li {
        display: block;
        width: 100%;
    }

    .recomendedJobs ul {
        display: block;
    }


    .places {
        width: 100%;
        display: block;
    }


    .locations > div {
        display: block;
        width: 100%;
        padding-top: 10px;
    }

    .countryPlaces,
    .addressReturn h4 {
        width: 100%;
        display: block;
    }

        .countryPlaces li {
            display: block;
            width: 100%;
            padding: 10px 0px 10px 20px;
        }

            .countryPlaces li::before {
                top: 14px;
                left: 0px;
            }

    .industriesHolder > ul {
        -webkit-column-count: 1;
        column-count: 1;
    }

    .places li a {
        height: 120px;
        line-height: 120px;
    }

    .employeeList {
        display: block;
        width: 100%;
        margin-bottom: 20px;
    }

        .employeeList:last-child {
            margin-bottom: 0px;
        }

    .recomendedJobs ul li {
        width: calc(50% - 14px);
    }
}


@media(max-width:575px) {

    .recomendedJobs ul li {
        width: 100%;
        display: block;
    }
}


/*15.05.2019*/

.secBanner {
    position: relative;
    overflow: hidden;
    background: #333;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 350px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 50px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

img.back {
    position: absolute;
    top: 50%;
    left: 50%;
    -o-object-fit: cover;
    object-fit: cover;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: .3;
    width: 100%;
    height: 100%;
}

.BannerTxt {
    position: relative;
    z-index: 99;
    text-align: left;
}


    .BannerTxt h4 {
        font-size: 30px;
        font-weight: 600;
        color: #fff;
        padding-left: 0px;
    }

    .BannerTxt p {
        font-size: 14px;
        color: #fff;
        position: relative;
        padding: 15px 0px;
    }



/*partner*/

.partnerImg {
    position: relative;
    height: 170px;
    overflow: hidden;
}

    .partnerImg img {
        opacity: 1;
    }

.partner {
    width: calc(33% - 17px);
    padding: 10px;
    background: #eee;
    text-align: left;
    display: inline-block;
    margin: 10px;
}

.partnerList {
    padding-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
}


.partnerTxt h5 {
    font-size: 18px;
    padding-top: 10px;
}

.partnerTxt p {
    font-size: 14px;
    padding-bottom: 10px;
}

.partnerTxt a {
    display: inline-block;
    background: #2b79a7;
    color: #fff;
    width: 120px;
    text-align: center;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
}


.ourServices .partner .partnerImg {
    margin: 15px 0px 5px 0px;
}

.secNav {
    text-align: left;
    padding: 10px 5px;
    margin-top: 20px;
}

.ourServices .partnerList {
    padding: 0px;
}

.secNav li {
    list-style: none;
    display: inline-block;
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    margin: 0px 5px;
}

    .secNav li a {
        display: block;
        padding: 10px 20px;
    }

.BannerTxt a:hover {
    background: #fff;
    color: #333;
}

@media(max-width:991px) {

    .partner {
        width: calc(50% - 20px);
    }
}


@media(max-width:767px) {

    .partner {
        width: 100%;
    }
}



/*property search*/

.propertyDirections {
    padding: 0px;
    margin-top: 10px;
}

    .propertyDirections li a {
        padding: 10px;
        line-height: normal;
    }

    .propertyDirections li {
        list-style: none;
        display: inline-block;
        display: calc(50% - 10px);
    }

.propertyConfig {
    display: inline-block;
    vertical-align: top;
    padding: 30px;
}

.formData {
    width: 300px;
    background: #424242;
}

    .formData a,
    .formData p,
    .formData span {
        color: #fff;
    }

.multiform {
    width: calc(100% - 304px);
}




/*start lightbox*/

.showcase {
    position: relative;
    height: 300px;
    display: block;
    overflow: hidden;
}

    .showcase > img.back {
        opacity: 1;
    }

.lightbox {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 99999;
    width: 100%;
    margin-left: -1px;
    height: 100%;
    background: rgba(0, 0, 0, 0.93);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    /*    display: none;*/
    margin-left: -1px;
}

.closeLight {
    position: absolute;
    right: 10px;
    top: 10px;
    color: #fff;
    font-size: 16px;
    display: inline-block;
    width: 25px;
    height: 25px;
    background: #555;
    z-index: 9999999999;
    text-align: center;
    line-height: 25px;
    border-radius: 150px;
}

    .closeLight:hover,
    .closeLight:focus {
        color: #fff;
    }

.lightImg {
    position: absolute;
    background: #000;
    height: calc(100% - 0px);
    width: calc(75% - 10px);
    max-width: calc(100% - 305px);
    top: 0px;
    left: 0px;
}


.lighComment {
    position: absolute;
    right: 0px;
    height: calc(100% - -1px);
    background: rgb(255, 255, 255);
    width: calc(25% - 0px);
    min-width: 300px;
    top: 0px;
    /*overflow: auto;*/
    z-index: 999;
}

.sliderArrows {
    position: absolute;
    top: 50%;
    width: calc(74% - 20px);
    font-size: 42px;
    margin-left: -3px;
    color: #fff;
    z-index: 9999;
    left: 20px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

    .sliderArrows a {
        color: #fff;
    }

        .sliderArrows a:hover,
        .sliderArrows a:focus {
            color: #fff;
        }

.lightImg .back {
    -o-object-fit: contain;
    object-fit: contain;
    opacity: 1;
}


.comments {
    padding: 10px 25px 0px 25px !important;
}


.commentActionWrapper {
    background: #f6f2f2;
    padding: 10px 10px 3px 10px;
    margin-top: 20px;
}


/*
.comments > li{
    list-style: none;
    padding: 20px 0px;
        border-bottom: 1px solid #ddd;
}
*/

.comments > li {
    list-style: none;
    padding: 20px 15px;
    background: #fff;
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.11);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.11);
    margin: 20px 0px !important;
}

.comments li img {
    opacity: 1;
}

.commn {
    display: inline-block;
    vertical-align: top;
}

.comments li:first-child {
    margin-top: 0px;
}

.commentImgHolder {
    width: 40px;
    height: 40px;
    border-radius: 150px;
    position: relative;
    overflow: hidden;
    vertical-align: middle;
    margin-top: 10px;
}

    .commentImgHolder + div {
        width: calc(100% - 45px);
        padding-left: 7px;
    }


.editComm,
.delComm {
    display: inline-block;
    font-size: 14px;
    margin-right: 10px;
    cursor: pointer;
}

/*
.editComm {
    margin-left: 50px;
}
*/

.delComm {
    color: red;
}

.comments li .form-group {
    display: none;
}

    .comments li .form-group button {
        margin-top: 10px;
    }


.block > .commform button {
    display: none;
}

.noClick {
    pointer-events: none;
}

.blockShowMore {
    display: block;
    height: 300px;
    background: #232323;
    line-height: 300px;
    text-align: center;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
    vertical-align: top;
}

.photosHolder {
    padding: 1px;
    display: inline-block;
    width: calc(33% - 5px);
    position: relative;
    overflow: hidden;
}

    .photosHolder img {
        opacity: .1;
    }

    .photosHolder p {
        z-index: 999;
        color: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
    }

.newcomment {
    width: calc(100% - 45px);
    margin-left: 25px;
    margin-top: 10px;
    height: 70px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 0px 5px;
    bottom: 30px;
    background: #fff;
    max-width: 100%;
    z-index: 9999;
    resize: none;
    font-size: 12px;
}

.wrapper a.btn-success {
    margin-left: 24px;
}

/*
.editForm a.btn-success {
    margin-left: 7px;
}
*/

.comments li p {
    line-height: normal;
    color: #777;
    word-break: break-all;
    padding-bottom: 6px;
}

.lightImg .panel-footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    background: rgba(0, 0, 0, 0.34);
    padding: 0px 10px;
    color: #fff;
}

    .lightImg .panel-footer .list-inline a {
        color: #fff;
    }

@media(max-width:767px) {
    /*
    .lightImg {
        height: calc(50% - 40px);
        width: calc(100% - 40px);
        top: 20px;
        left: 20px;
    }
*/

    .list-inline li:last-child {
        width: 100%;
    }

    .lightImg {
        height: 50%;
        width: 100%;
        top: 20px;
        left: 0px;
        max-width: 100%;
    }

    .lighComment {
        position: absolute;
        right: 0px;
        height: 50%;
        background: rgb(255, 255, 255);
        width: 100%;
        top: calc(50% + 4px);
        overflow: auto;
        z-index: 999;
    }

    .lightImg .panel-footer {
        position: absolute;
        width: 100%;
        bottom: 16px;
        background: rgba(0, 0, 0, 0.56);
        padding: 0px 10px;
        color: #fff;
        z-index: 999999;
    }


    /*
    .sliderArrows {
        top: calc(50% - 7px);
        width: 90%;
        width: 90%;
        left: 5%;
        margin-left: 0px;
        font-size: 26px;
    }
*/

    .sliderArrows {
        top: 20px;
        width: 40px;
        left: 5%;
        margin-left: 0px;
        font-size: 26px;
    }

    .photosHolder {
        display: block;
        width: 100%;
    }

    .showcase, .blockShowMore {
        height: 180px;
        line-height: 180px;
    }

    .malorm-bottom {
        padding: 10px 10px;
    }
}



.editForm a.btn {
    /*    margin-left: 10px;*/
    padding: 5px 10px;
    margin-top: 5px;
    border-radius: 4px;
    -webkit-transform: scale(.9);
    transform: scale(.9);
    display: inline-block;
    width: 60px;
    /*    margin: 0;*/
}

/*lightbox*/

.right-section {
    margin-left: 38px;
    display: inline-block;
}

.panel-heading .media-object {
    width: 42px;
    padding: 2px;
    margin-top: 5px;
    border: 2px solid #dbdfe6;
}

.panel-footer {
    padding: 5px 20px;
}

    .panel-footer .list-inline > li a {
        color: #545b68;
        cursor: pointer;
    }

.list-inline > li {
    padding-top: 0px;
}

.media-left {
    padding-right: 15px;
}

.folder {
    margin-top: 30px;
}

.panel-heading {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}


.editForm + ul {
    margin-left: 43px;
}

.commn h5 {
    color: #737373;
    font-weight: 700;
    font-size: 14px;
}

.malorm-bottom h2 {
    font-size: 20px;
    color: #000;
    text-align: left;
    margin-bottom: 0.5em;
    font-weight: 500;
}

.malorm-bottom h5 {
    color: #000000;
    margin-top: 0;
    line-height: 34px;
    margin-bottom: 0px;
    text-transform: uppercase;
}

.carrer-add-col .fa-pencil {
    color: #000;
}

/*
.actionMenu{
    display: none;
}
*/

.actionMenu li {
    display: inline-block !important;
}

.comments .list-inline,
.comments .likeEdit {
    display: inline-block !important;
}

/* 07.14.2019 */
.h-2 {
    height: 601px;
}

.wrapper {
    position: relative;
    display: inline-block;
}

.regular-input {
    padding: 0.5rem 1rem;
    border-radius: 3px;
    border: 1px solid #ccc;
    width: 20rem;
    height: 12rem;
}

.emoji-invoker {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.2s;
}

    .emoji-invoker:hover {
        transform: scale(1.1);
    }

    .emoji-invoker > svg {
        fill: #b1c6d0;
    }

.emoji-picker {
    position: absolute;
    z-index: 1;
    font-family: Montserrat;
    border: 1px solid #ccc;
    width: 15rem;
    height: 20rem;
    overflow: scroll;
    padding: 1rem;
    box-sizing: border-box;
    border-radius: 0.5rem;
    background: #fff;
    box-shadow: 1px 1px 8px #c7dbe6;
    right: 15px;
    top: 20px;
}

.emoji-picker__search {
    display: flex;
}

    .emoji-picker__search > input {
        flex: 1;
        border-radius: 10rem;
        border: 1px solid #ccc;
        padding: 0.5rem 1rem;
        outline: none;
    }

.emoji-picker h5 {
    margin-bottom: 0;
    color: #b1b1b1;
    text-transform: uppercase;
    font-size: 0.8rem;
    cursor: default;
}

.emoji-picker .emojis {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

    .emoji-picker .emojis:after {
        content: "";
        flex: auto;
    }

    .emoji-picker .emojis span {
        padding: 0.2rem;
        cursor: pointer;
        border-radius: 5px;
    }

        .emoji-picker .emojis span:hover {
            background: #ececec;
            cursor: pointer;
        }

.newcomment {
    width: calc(100% - 45px);
    margin-left: 25px;
    margin-top: 10px;
    height: 70px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 0px 5px;
    bottom: 30px;
    background: #fff;
    max-width: 100%;
    z-index: 9999;
    resize: none;
    font-size: 12px;
}
/*end lightbox*/